<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <script type="text/javascript">document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <style>
        .wishlist_table .add_to_cart, a.add_to_wishlist.button.alt { border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }			</style>
    <script>
        /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
        if (typeof WebFontConfig === "undefined") {
            WebFontConfig = new Object();
        }
        WebFontConfig['google'] = { families: ['Libre+Franklin:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic'] };

        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Beeta &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Beeta &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/demo.roadthemes.com\/beeta\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='../../wp-content/plugins/contact-form-7/includes/css/styles5560.css?ver=5.0.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='../../wp-content/plugins/revslider/public/assets/css/settings23da.css?ver=5.4.8'
        type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {}
    </style>
    <link rel='stylesheet' id='select2-css' href='../../wp-content/plugins/woocommerce/assets/css/select24c8b.css?ver=3.4.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='../../wp-content/plugins/woocommerce/assets/css/woocommerce-layout4c8b.css?ver=3.4.5'
        type='text/css' media='all' />
    <style id='woocommerce-layout-inline-css' type='text/css'>
        .infinite-scroll .woocommerce-pagination {
            display: none;
        }
    </style>
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='../../wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen4c8b.css?ver=3.4.5'
        type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='../../wp-content/plugins/woocommerce/assets/css/woocommerce4c8b.css?ver=3.4.5'
        type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='jquery-colorbox-css' href='../../wp-content/plugins/yith-woocommerce-compare/assets/css/colorbox5010.css?ver=4.9.8'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-woocompare-widget-css' href='../../wp-content/plugins/yith-woocommerce-compare/assets/css/widget5010.css?ver=4.9.8'
        type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='../../wp-content/plugins/woocommerce/assets/css/prettyPhoto4c8b.css?ver=3.4.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css' href='../../wp-content/plugins/yith-woocommerce-wishlist/assets/css/jquery.selectBox7359.css?ver=1.2.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='../../wp-content/plugins/yith-woocommerce-wishlist/assets/css/style950a.css?ver=2.2.3'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='../../wp-content/plugins/yith-woocommerce-wishlist/assets/css/font-awesome.min1849.css?ver=4.7.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='../../wp-content/themes/beeta/css/bootstrap.minbfce.css?ver=4.1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='beeta-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C400%2C600%2C700%2C800&amp;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='beeta-style-css' href='../../wp-content/themes/beeta/style5010.css?ver=4.9.8' type='text/css'
        media='all' />
    <link rel='stylesheet' id='megamenu-style-css' href='../../wp-content/themes/beeta/css/megamenu_style1c12.css?ver=2.0.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css' href='../../wp-content/themes/beeta/css/font-awesome.min1849.css?ver=4.7.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='../../wp-content/themes/beeta/css/animate5010.css?ver=4.9.8' type='text/css'
        media='all' />
    <link rel='stylesheet' id='Plaza-font-css' href='../../wp-content/themes/beeta/css/plaza-font5010.css?ver=4.9.8'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-style-css' href='../../wp-content/themes/beeta/css/owl.carousel531b.css?ver=2.3.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css-css' href='../../wp-content/themes/beeta/js/fancybox/jquery.fancyboxd63f.css?ver=2.1.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-buttons-style-css' href='../../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-buttons97de.css?ver=1.0.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-thumbs-style-css' href='../../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-thumbs19f6.css?ver=1.0.7'
        type='text/css' media='all' />
    <link rel='stylesheet' id='beeta-theme-style-css' href='../../wp-content/themes/beeta/css/theme18a54.css?ver=1.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='beeta-custom-css' href='../../wp-content/themes/beeta/css/opt_css8a54.css?ver=1.0.0'
        type='text/css' media='all' />
    <style id='beeta-custom-inline-css' type='text/css'>
        .vc_custom_1531380918738 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1531380936833 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1537426101155 {
            margin-bottom: 15px !important;
        }

        .vc_custom_1537341045708 {
            margin-bottom: 0px !important;
            border-bottom-width: 1px !important;
            border-bottom-color: #ebebeb !important;
            border-bottom-style: solid !important;
        }

        .vc_custom_1531900215718 {
            margin-bottom: 0px !important;
        }

        .wrapper.box-layout,
        .wrapper.box-layout .container,
        .wrapper.box-layout .row-container {
            max-width: 1230px;
        }
    </style>
    <link rel='stylesheet' id='mm_icomoon-css' href='../../wp-content/plugins/mega_main_menu/framework/src/css/icomoon784e.css?ver=2.1.6'
        type='text/css' media='all' />
    <link rel='stylesheet' id='mmm_mega_main_menu-css' href='../../wp-content/plugins/mega_main_menu/src/css/cache.skin8157.css?ver=1532931193'
        type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_custom_css-css' href='../../wp-content/uploads/js_composer/custom7e15.css?ver=5.5.4'
        type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='../../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min23da.js?ver=5.4.8'></script>
    <script type='text/javascript' src='../../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min23da.js?ver=5.4.8'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "http:\/\/demo.roadthemes.com\/beeta\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _zxcvbnSettings = { "src": "http:\/\/demo.roadthemes.com\/beeta\/wp-includes\/js\/zxcvbn.min.js" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-includes/js/zxcvbn-async.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart7e15.js?ver=5.5.4'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.8" />
    <meta name="generator" content="WooCommerce 3.4.5" />
    <link rel="canonical" href="../index.html" />
    <link rel='shortlink' href='../../indexb5fb.html?p=9' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedb9ab.json?url=http%3A%2F%2Fdemo.roadthemes.com%2Fbeeta%2Fmy-account%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed7b9f?url=http%3A%2F%2Fdemo.roadthemes.com%2Fbeeta%2Fmy-account%2F&amp;format=xml" />

    <noscript>
        <style>.woocommerce-product-gallery{ opacity: 1 !important; }</style>
    </noscript>
    <meta name='robots' content='noindex,follow' />
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://demo.roadthemes.com/beeta/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.8 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <style type="text/css" title="dynamic-css" class="options-output">
        body {
            background-color: #ffffff;
        }

        .main-container {
            background-color: #ffffff;
        }

        .header-sticky.ontop {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .top-bar {
            color: #999999;
        }

        .top-bar a {
            color: #999999;
        }

        .top-bar a:hover {
            color: #cea679;
        }

        .top-bar a:active {
            color: #cea679;
        }

        .footer {
            color: #999999;
        }

        .footer a {
            color: #999999;
        }

        .footer a:hover {
            color: #e53131;
        }

        .footer a:active {
            color: #e53131;
        }

        body.error404 {
            background-color: #f2f2f2;
        }
        body {
  outline: none !important;
  overflow-x: hidden !important;
  overflow-x: hidden !important; }
  body::-webkit-scrollbar {
    width: 4px;
    border-radius: 3px; }
  body::-webkit-scrollbar-track {
    background: #fff; }
  body::-webkit-scrollbar-thumb {
    background: #76cfb9;
    border-radius: 3px; }
  body::-webkit-scrollbar-thumb:hover {
    background: #76cfb9; }
  body a {
    text-decoration: none !important; }

::selection {
  color: #fff !important;
  background: #76cfb9 !important; }

.wpb_wrapper > .image > a > img {
  max-height: 270px !important; }

.product-image img.min-height-set, .product-page-product {
  height: 300px !important;
  border-radius: 5px; }

.errors {
  list-style-type: none;
  padding-left: 0; }

/*-- banner-top --*/
.banner_top {
  margin-bottom: 100px; }

.banner-top {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  overflow-x: hidden;
  min-height: 90vh;
  clear: both; }

.banner-info-wthree {
  text-align: center;
  padding: 17em 0em 0 0em; }

.banner-info-wthree h3 {
  font-size: 13em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #76cfb9; }

.banner-info-wthree p {
  font-size: 1.2em;
  color: #fff;
  margin: 0em 0;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: uppercase; }

/*-- //banner-top --*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto; }

.rslides_tabs li:first-child {
  margin-left: 0; }

.rslides_tabs .rslides_here a {
  background: #76cfb9;
  color: #fff;
  font-weight: bold; }

.events {
  list-style: none; }

.callbacks_container {
  position: relative;
  float: left;
  width: 100%; }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.callbacks li {
  position: absolute;
  width: 100%; }

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0; }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center; }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: #76cfb9;
  top: 50%;
  left: 40px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 34px;
  width: 34px;
  background: url(../images/left.png) no-repeat 0px 0px; }

.callbacks_nav.next {
  left: auto;
  background: url(../images/right.png) no-repeat 0px 0px;
  right: 0; }

.callbacks_nav.prev {
  left: auto;
  background: url(../images/left.png) no-repeat 0px 0px;
  left: 0px; }

#slider3-pager a {
  display: inline-block; }

#slider3-pager span {
  float: left; }

#slider3-pager span {
  width: 100px;
  height: 15px;
  background: #fff;
  display: inline-block;
  border-radius: 30em;
  opacity: 0.6; }

#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius: 30em;
  opacity: 1; }

#slider3-pager a {
  padding: 0; }

#slider3-pager li {
  display: inline-block; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li {
  position: relative;
  display: inline-block;
  float: left; }

.rslides img {
  height: auto;
  border: 0; }

.callbacks_tabs {
  list-style: none;
  position: absolute;
  bottom: 8%;
  right: 10%;
  padding: 0;
  margin: 0;
  display: block;
  z-index: 99; }

.slider-top span {
  font-weight: 600; }

.callbacks_tabs li {
  display: inline-block;
  margin: 0px 3px; }

/*----*/
.callbacks_tabs a {
  visibility: hidden; }

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 2px solid #fff; }

.callbacks_here a:after {
  background: #76cfb9; }

.admin-border {
  border: 2px solid #76cfb9 !important;
  border-radius: 3px;
  width: 100% !important; }

button.woocommerce-Button.button {
  color: white !important; }
  button.woocommerce-Button.button:hover {
    color: whitesmoke !important; }

.grid-product {
  width: 90% !important;
  margin-bottom: 20px; }

.show-more {
  height: 40px !important; }

.error-body {
  text-align: center;
  width: 70%;
  height: 100vh;
  margin: auto;
  padding-top: 25%; }
  .error-body h1 {
    color: #76cfb9; }

/*-- //slider --*/
input[name="pImages"] {
  border: none !important;
  color: white;
  width: 50px !important; }
  input[name="pImages"]::before {
    height: 38px;
    width: auto !important;
    background: #76cfb9;
    content: 'Click to select file';
    font-weight: bold;
    margin-left: -10px !important;
    box-shadow: 0 3px 15px grey;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    transition: 0.2s all ease-in-out; }
  input[name="pImages"]::after {
    color: red !important;
    position: relative;
    right: 0 !important; }

input[name="pImages"]:hover::before {
  background: #a5d8cb;
  transition: 0.2s all ease-in-out; }

.tgm-dash-links a {
  white-space: nowrap; }
.tgm-dash-links li a:nth-child(0) {
  color: pink !important;
  position: absolute; }

/*# sourceMappingURL=style.css.map */

    </style><noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript></head>

<body class="page-template-default page page-id-9 mmm mega_main_menu-2-1-6 woocommerce-account woocommerce-page woocommerce-lost-password woocommerce-no-js wpb-js-composer js-comp-ver-5.5.4 vc_responsive">

    <div class="wrapper ">
        <div class="page-wrapper">
            <div class="main-container default-page">
                <div class="blog-header-title">
                    <div class="container">
                        <div class="title-breadcrumb-inner">
                            <header class="entry-header">
                                <h1 class="entry-title"></h1>
                            </header>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container">

                    <div class="row">

                        <div class="col-12 col-lg-6 col-sm-12 col-xs-12 col-md-6" style="margin:auto">
                            <div class="page-content default-page">

                                <article id="post-9" class="post-9 page type-page status-publish hentry">

                                    <div class="entry-content">
                                        <div class="woocommerce">
                                            {{#if msg}}
                                            <ul class="errors">
                                                <li class="alert alert-danger">
                                                    {{ msg }}
                                                </li>
                                            </ul>
                                            {{/if}}
                                            {{#if errors}}
                                            <ul class="errors">
                                                {{#each errors}}
                                                <li class="alert alert-warning">
                                                    {{ this.msg }}
                                                </li>
                                                {{/each}}
                                            </ul>
                                            {{/if}}
                                            <form method="post" action="/admin/postProduct" enctype="multipart/form-data"
                                                class="woocommerce-form woocommerce-form-login login">
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="username">Title</label>
                                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text admin-border"
                                                        name="title" id="username" required value="" /> </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Price</label>
                                                    <input class="woocommerce-Input woocommerce-Input--text input-text admin-border"
                                                        type="number" name="price" id="password" required value="" />
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Color</label>
                                                    <input class="woocommerce-Input woocommerce-Input--text input-text admin-border"
                                                        type="text" name="color" id="password" value="" required />
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Description</label>
                                                    <textarea name="description" cols="40" rows="20" required class="wpcf7-form-control wpcf7-textarea admin-border"
                                                        aria-invalid="false">{{#if description}}{{description}}{{/if}}</textarea>
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Product Image 1</label>
                                                    <input class="woocommerce-Input woocommerce-Input--text input-text"
                                                        type="file" value="" name="pImages" id="password" />
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Product Image 2</label>
                                                    <input class="woocommerce-Input woocommerce-Input--text input-text"
                                                        type="file" value="" name="pImages" id="password" />
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Product Image 3</label>
                                                    <input class="woocommerce-Input woocommerce-Input--text input-text"
                                                        type="file" name="pImages" value="" id="password" />
                                                </p>
                                                <br>
                                                <p class="form-row">
                                                    <button type="submit" class="woocommerce-Button button" name="login"
                                                        value="Save Changes">Post</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .page -->
    </div><!-- .wrapper -->
    <br>
    <!--<div class="beeta_loading"></div>-->
    <div id="back-top" class="hidden-xs hidden-sm hidden-md"></div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="text/template" id="tmpl-variation-template">

    <script type="text/template" id="tmpl-unavailable-variation-template">
	<p>Sorry, this product is unavailable. Please choose a different combination.</p>
</script>
    <link rel='stylesheet' id='js_composer_front-css' href='../../wp-content/plugins/js_composer/assets/css/js_composer.min7e15.css?ver=5.5.4'
        type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "http:\/\/demo.roadthemes.com\/beeta\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/contact-form-7/includes/js/scripts5560.js?ver=5.0.4'></script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/selectWoo/selectWoo.full.min4b68.js?ver=1.0.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pwsL10n = { "unknown": "Password strength unknown", "short": "Very weak", "bad": "Weak", "good": "Medium", "strong": "Strong", "mismatch": "Mismatch" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-admin/js/password-strength-meter.min5010.js?ver=4.9.8'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_password_strength_meter_params = { "min_password_strength": "3", "i18n_password_error": "Please enter a stronger password.", "i18n_password_hint": "Hint: The password should be at least twelve characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! \" ? $ % ^ & )." };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/password-strength-meter.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/lost-password.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_bfe738ac7627b160c7af34b178a3fb38", "fragment_name": "wc_fragments_bfe738ac7627b160c7af34b178a3fb38" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript'>
        jQuery('body').bind('wc_fragments_refreshed', function () {
            jQuery('body').trigger('jetpack-lazy-images-load');
        });

    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_woocompare = { "ajaxurl": "\/beeta\/?wc-ajax=%%endpoint%%", "actionadd": "yith-woocompare-add-product", "actionremove": "yith-woocompare-remove-product", "actionview": "yith-woocompare-view-table", "actionreload": "yith-woocompare-reload-product", "added_label": "Added", "table_title": "Product Comparison", "auto_open": "yes", "loader": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-compare\/assets\/images\/loader.gif", "button_text": "Compare", "cookie_name": "yith_woocompare_list", "close_label": "Close" };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.minb6db.js?ver=2.3.3'></script>
    <script type='text/javascript' src='../../wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min13ac.js?ver=1.4.21'></script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min005e.js?ver=3.1.6'></script>
    <script type='text/javascript' src='../../wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_wcwl_l10n = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "is_user_logged_in": "", "ajax_loader_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif", "remove_from_wishlist_after_add_to_cart": "yes", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser.", "added_to_cart_message": "<div class=\"woocommerce-message\">Product correctly added to cart<\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "move_to_another_wishlist_action": "move_to_another_wishlsit", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem" } };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl950a.js?ver=2.2.3'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/bootstrap.minbfce.js?ver=4.1.0'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/owl.carousel531b.js?ver=2.3.4'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/owl.carousel.min531b.js?ver=2.3.4'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/fancybox/jquery.fancybox.packd63f.js?ver=2.1.5'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-buttons97de.js?ver=1.0.5'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-media0ba6.js?ver=1.0.6'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-thumbs19f6.js?ver=1.0.7'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/superfish/superfish.mind046.js?ver=1.3.15'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/modernizr.custom.min61da.js?ver=2.6.2'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/jquery.shuffle.min6e0e.js?ver=3.0.0'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/jquery.mousewheel.min4830.js?ver=3.1.12'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/jquery.countdown.min3601.js?ver=2.2.0'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/jquery.counterup.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/variablesc2d5.js?ver=20140826'></script>
    <script type='text/javascript' src='../../wp-content/themes/beeta/js/beeta-themec2d5.js?ver=20140826'></script>
    <script type='text/javascript'>
        var ajaxurl = "../../wp-admin/admin-ajax.html";
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/mega_main_menu/src/js/frontend784e.js?ver=2.1.6'></script>
    <script type='text/javascript' src='../../wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
    <script type='text/javascript' src='../../wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/beeta\/wp-admin\/admin-ajax.php" } };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-includes/js/wp-util.min5010.js?ver=4.9.8'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.", "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.", "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination." };
/* ]]> */
    </script>
    <script type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min4c8b.js?ver=3.4.5'></script>
    <script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min7e15.js?ver=5.5.4'></script>