<div class="footer fashion-footer-1">
    <div class="vc_row wpb_row vc_row-fluid footer-bottom vc_custom_1531380936833">
        <div class="row-container">
            <div class="wpb_column vc_column_container vc_col-sm-12" style="text-align: right">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  copy-right">
                            <div class="wpb_wrapper">
                                <p>
                                    Copyright © 2018 FabrixRus | All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>