<div class="footer fashion-footer-1">
    <div class="vc_row wpb_row vc_row-fluid footer-top vc_custom_1531380918738">
        <div class="row-container">
            <div class="f-col wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  footer-title">
                            <div class="wpb_wrapper">
                                <h3>About Us</h3>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element  footer-content about-us">
                            <div class="wpb_wrapper">
                                <p class="short-aboutus">
                                    Home of Aso-Oke
                                </p>
                            </div>
                        </div>

                        <div class="wpb_text_column wpb_content_element  vc_custom_1537426101155 footer-title">
                            <div class="wpb_wrapper">
                                <h3>Follow Us</h3>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element  footer-content about-us">
                            <div class="wpb_wrapper">
                                <div class="social-footer">
                                    <ul class="list-unstyled">
                                        <li title="@fabrixrus"><a href="https://twitter.com/fabrixrus"><i class="fa fa-twitter">twitter</i></a></li>
                                        <li title="@fabrixrus"><a href="https://www.instagram.com/fabrixrus"><i class="fa fa-instagram">Instagram</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-col wpb_column vc_column_container vc_col-sm-4"></div>
            <div class="f-col wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  footer-title">
                            <div class="wpb_wrapper">
                                <h3>Get in touch</h3>
                            </div>
                        </div>

                        <div class="wpb_text_column wpb_content_element  footer-content newslletter">
                            <div class="wpb_wrapper">
                                <div class="contact-static">
                                    <div class="info-contactus">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-home"></i>Hong Kong, China.</li>
                                            <li><i class="fa fa-phone"></i>(800) 123 456 789</li>
                                            <li><i class="fa fa-envelope-open-o"></i>adeola@fabrixrus.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="wpb_single_image wpb_content_element vc_align_center   payment">-->
                        <!--<figure class="wpb_wrapper vc_figure">-->
                        <!--<div class="vc_single_image-wrapper   vc_box_border_grey">-->
                        <!--<img width="270" height="30" src="wp-content/uploads/2018/09/payment.png" class="vc_single_image-img attachment-full" alt="" srcset="wp-content/uploads/2018/09/payment.png 270w, wp-content/uploads/2018/09/payment-100x11.png 100w" sizes="(max-width: 270px) 100vw, 270px" />-->
                        <!--</div>-->
                        <!--</figure>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid footer-bottom vc_custom_1531380936833">
        <div class="row-container">
            <div class="wpb_column vc_column_container vc_col-sm-12" style="text-align: right">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  copy-right">
                            <div class="wpb_wrapper">
                                <p>
                                    Copyright © 2018 FabrixRus. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>