<div class="wrapper ">
    <div class="page-wrapper">
        <div class="header-container fashion-header-1">
            <div class="header">
                <div class="header-content">
                    <p>
                        <div class="vc_row wpb_row vc_row-fluid top-bar wrapper-padding vc_custom_1537341045708 vc_row-has-fill">
                            <div class="row-container">
                                <div class="wpb_column vc_column_container vc_col-sm-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  header-phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="language-area wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_wp_custommenu wpb_content_element currency switcher">
                                                <div class="widget widget_nav_menu">
                                                    <div class="menu-currency-container">
                                                        <ul id="menu-currency" class="menu">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_wp_custommenu wpb_content_element language switcher">
                                                <div class="widget widget_nav_menu">
                                                    <div class="menu-language-container">
                                                        <ul id="menu-cart" class="menu">
                                                            <li id="menu-item-9253" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children first menu-item-9253">
                                                                <a href="#">Cart</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_wp_custommenu wpb_content_element account switcher">
                                                <div class="widget widget_nav_menu">
                                                    <div class="menu-account-menu-container">
                                                        <ul id="menu-account-menu" class="menu">
                                                            <li id="menu-item-9478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children first menu-item-9478"><a
                                                                    href="#">My Account</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-9245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9245">
                                                                        <a href="/checkout">Checkout</a>
                                                                    </li>
                                                                    <li id="menu-item-9702" class="menu-item menu-item-type-custom menu-item-object-custom last menu-item-9702">
                                                                        <a href="/user/login">Log In</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid header-middle wrapper-padding vc_custom_1531900215718">
                            <div class="row-container">
                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   logo">
                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="94" height="27" src="" class="vc_single_image-img attachment-full"
                                                            alt="FabrixRus" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="main-menu-wrapper">
                                                <div class="visible-small mobile-menu">
                                                    <div class="mbmenu-toggler">Menu<span class="mbmenu-icon"><i class="fa fa-bars"></i></span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="mobile-menu-container">
                                                        <ul id="menu-horizontal-menu" class="nav-menu">
                                                            <li id="menu-item-9340" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children first menu-item-9340"><a
                                                                    href="/">Home</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-9875" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9719 current_page_item menu-item-9875"><a
                                                                            href="/">Fashion Home 1</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-9243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9243"><a
                                                                    href="blog/index.html">Blog</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-9373" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9373"><a
                                                                            href="#">Blog Layouts</a>
                                                                        <ul class="sub-menu">
                                                                            <li id="menu-item-9377" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9377"><a
                                                                                    href="blog/indexc256.html?layout=nosidebar">No
                                                                                    Sidebar</a></li>
                                                                            <li id="menu-item-9378" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9378"><a
                                                                                    href="blog/index68fe.html?layout=sidebar&amp;sidebar=left">Sidebar
                                                                                    Left</a></li>
                                                                            <li id="menu-item-9379" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9379"><a
                                                                                    href="blog/indexbed1.html?layout=sidebar&amp;sidebar=right">Sidebar
                                                                                    Right</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li id="menu-item-9374" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9374"><a
                                                                            href="#">Blog Pages</a>
                                                                        <ul class="sub-menu">
                                                                            <li id="menu-item-9380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9380"><a
                                                                                    href="author/admin/index.html">Author</a></li>
                                                                            <li id="menu-item-9635" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9635"><a
                                                                                    href="category/wordpress/index.html">Category</a></li>
                                                                            <li id="menu-item-9636" class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-9636"><a
                                                                                    href="tag/white-2/index.html">Blog
                                                                                    tag</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li id="menu-item-9375" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9375"><a
                                                                            href="#">Post Formats</a>
                                                                        <ul class="sub-menu">
                                                                            <li id="menu-item-9628" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9628"><a
                                                                                    href="blog-image-post/index.html">Image
                                                                                    Format</a></li>
                                                                            <li id="menu-item-9630" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9630"><a
                                                                                    href="post-with-audio/index.html">Audio
                                                                                    Format</a></li>
                                                                            <li id="menu-item-9629" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9629"><a
                                                                                    href="post-with-gallery/index.html">Gallery
                                                                                    Format</a></li>
                                                                            <li id="menu-item-9631" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9631"><a
                                                                                    href="post-with-video/index.html">Video
                                                                                    Format</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-9376" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9376"><a
                                                                    href="#">Pages</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-9338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9338"><a
                                                                            href="about-us/index.html">About Us</a></li>
                                                                    <li id="menu-item-9632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9632"><a
                                                                            href="frequently-questions/index.html">Frequently
                                                                            Questions</a></li>
                                                                    <li id="menu-item-9675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9675"><a
                                                                            href="error404.html">Error 404</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-9339" class="menu-item menu-item-type-post_type menu-item-object-page last menu-item-9339"><a
                                                                    href="/contact">Contact Us</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="header-sticky ">
                                                    <div class="nav-container">
                                                        <div class="logo-sticky"><a href="/" title="Beeta" rel="home"><img
                                                                    src="" alt="FabrixRus" /></a></div>
                                                        <div class="horizontal-menu visible-large">

                                                            <!-- begin "mega_main_menu" -->
                                                            <div id="primary" class="primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-smooth direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_5 include-logo include-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-1-6 mega_main mega_main_menu">
                                                                <div class="menu_holder">
                                                                    <div class="mmm_fullwidth_container"></div><!-- class="fullwidth_container" -->
                                                                    <div class="menu_inner">
                                                                        <span class="nav_logo">
                                                                            <a class="logo_link" href="http://demo.roadthemes.com/beeta"
                                                                                title="Beeta">
                                                                                <img src="wp-content/plugins/mega_main_menu/framework/src/img/megamain-logo-120x120.png"
                                                                                    alt="Beeta" />
                                                                            </a>
                                                                            <span class="mobile_toggle">
                                                                                <span class="mobile_button">
                                                                                    Menu &nbsp;
                                                                                    <span class="symbol_menu">&equiv;</span>
                                                                                    <span class="symbol_cross">&#x2573;</span>
                                                                                </span><!-- class="mobile_button" -->
                                                                            </span><!-- /class="mobile_toggle" -->
                                                                        </span><!-- /class="nav_logo" -->
                                                                        <ul id="main_ul-primary" class="mega_main_menu_ul">
                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children first menu-item-9340 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                <a href="/" class="item_link  disable_icon"
                                                                                    tabindex="1">
                                                                                    <i class=""></i>
                                                                                    <span class="link_content">
                                                                                        <span class="link_text">
                                                                                            Home
                                                                                        </span>
                                                                                    </span>
                                                                                </a>
                                                                                <ul class="mega_dropdown">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9719 current_page_item menu-item-9875 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="/" class="item_link  disable_icon"
                                                                                            tabindex="2">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Fashion Home 1
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9834 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="fashion-home-2/index.html"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="3">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Fashion Home 2
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9851 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="fashion-home-3/index.html"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="4">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Fashion Home 3
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9866 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="http://demo.roadthemes.com/beeta-cosmetic/"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="5">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Cosmetic Home 1
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9867 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="http://demo.roadthemes.com/beeta-cosmetic/cosmetic-home-2/"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="6">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Cosmetic Home 2
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9868 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="http://demo.roadthemes.com/beeta-cosmetic/cosmetic-home-3/"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="7">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Cosmetic Home 3
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9869 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="http://demo.roadthemes.com/beeta-cosmetic/cosmetic-home-4/"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="8">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Cosmetic Home 4
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul><!-- /.mega_dropdown -->
                                                                            </li>
                                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9243 multicolumn_dropdown default_style drop_to_right submenu_full_width columns3">
                                                                                <a href="blog/index.html" class="item_link  disable_icon"
                                                                                    tabindex="25">
                                                                                    <i class=""></i>
                                                                                    <span class="link_content">
                                                                                        <span class="link_text">
                                                                                            Blog
                                                                                        </span>
                                                                                    </span>
                                                                                </a>
                                                                                <ul class="mega_dropdown">
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9373 default_dropdown default_style drop_to_right submenu_default_width columns1"
                                                                                        style="width:33.333333333333%;">
                                                                                        <a href="#" class="item_link  disable_icon"
                                                                                            tabindex="26">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Blog Layouts
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                        <ul class="mega_dropdown">
                                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9377 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="blog/indexc256.html?layout=nosidebar"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="27">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            No Sidebar
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9378 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="blog/index68fe.html?layout=sidebar&amp;sidebar=left"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="28">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Sidebar
                                                                                                            Left
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9379 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="blog/indexbed1.html?layout=sidebar&amp;sidebar=right"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="29">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Sidebar
                                                                                                            Right
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul><!-- /.mega_dropdown -->
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9374 default_dropdown default_style drop_to_right submenu_default_width columns1"
                                                                                        style="width:33.333333333333%;">
                                                                                        <a href="#" class="item_link  disable_icon"
                                                                                            tabindex="30">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Blog Pages
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                        <ul class="mega_dropdown">
                                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9380 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="author/admin/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="31">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Author
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9635 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="category/wordpress/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="32">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Category
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-9636 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="tag/white-2/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="33">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Blog tag
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul><!-- /.mega_dropdown -->
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9375 default_dropdown default_style drop_to_right submenu_default_width columns1"
                                                                                        style="width:33.333333333333%;">
                                                                                        <a href="#" class="item_link  disable_icon"
                                                                                            tabindex="34">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Post Formats
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                        <ul class="mega_dropdown">
                                                                                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9628 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="blog-image-post/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="35">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Image
                                                                                                            Format
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9629 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="post-with-gallery/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="37">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Gallery
                                                                                                            Format
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9631 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                                <a href="post-with-video/index.html"
                                                                                                    class="item_link  disable_icon"
                                                                                                    tabindex="38">
                                                                                                    <i class=""></i>
                                                                                                    <span class="link_content">
                                                                                                        <span class="link_text">
                                                                                                            Video
                                                                                                            Format
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul><!-- /.mega_dropdown -->
                                                                                    </li>
                                                                                </ul><!-- /.mega_dropdown -->
                                                                            </li>
                                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9376 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                <a href="#" class="item_link  disable_icon"
                                                                                    tabindex="39">
                                                                                    <i class=""></i>
                                                                                    <span class="link_content">
                                                                                        <span class="link_text">
                                                                                            Pages
                                                                                        </span>
                                                                                    </span>
                                                                                </a>
                                                                                <ul class="mega_dropdown">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9338 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="about-us/index.html"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="40">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    About Us
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9632 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="frequently-questions/index.html"
                                                                                            class="item_link  disable_icon"
                                                                                            tabindex="41">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Frequently
                                                                                                    Questions
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9675 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="error404.html" class="item_link  disable_icon"
                                                                                            tabindex="42">
                                                                                            <i class=""></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    Error 404
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul><!-- /.mega_dropdown -->
                                                                            </li>
                                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page last menu-item-9339 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                <a href="/contact" class="item_link  disable_icon"
                                                                                    tabindex="43">
                                                                                    <i class=""></i>
                                                                                    <span class="link_content">
                                                                                        <span class="link_text">
                                                                                            Contact Us
                                                                                        </span>
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav_search_box">
                                                                                <form method="get" class="mega_main_menu_searchform"
                                                                                    action="">
                                                                                    <input type="text" class="field"
                                                                                        name="s" id="s" />
                                                                                    <i class="im-icon-search-3 icosearch"></i>
                                                                                    <input type="submit" class="submit"
                                                                                        name="submit" id="searchsubmit"
                                                                                        value="Search" />
                                                                                </form>
                                                                            </li><!-- class="nav_search_box" -->
                                                                        </ul>
                                                                    </div><!-- /class="menu_inner" -->
                                                                </div><!-- /class="menu_holder" -->
                                                            </div><!-- /id="mega_main_menu" -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-right wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="widget woocommerce widget_shopping_cart">
                                                <h2 class="widgettitle">Cart</h2>
                                                <div class="widget_shopping_cart_content"></div>
                                            </div>
                                            <div class="header-search">
                                                <div class="search-dropdown">
                                                    <div class="categories-container">
                                                        <div class="cate-toggler">Categories</div>
                                                        <div class="widget woocommerce widget_product_categories">
                                                            <h2 class="widgettitle">Categories</h2>
                                                            <ul class="product-categories">
                                                                <li class="cat-item cat-item-15"><a href="product-category/uncategorized/index.html">Uncategorized</a></li>
                                                                <li class="cat-item cat-item-54"><a href="product-category/clothings/index.html">Clothings</a></li>
                                                                <li class="cat-item cat-item-93"><a href="product-category/hair-dyes-and-colors/index.html">Hair
                                                                        Dyes
                                                                        and Colors</a></li>
                                                                <li class="cat-item cat-item-101"><a href="product-category/hair-rinses/index.html">Hair
                                                                        Rinses</a></li>
                                                                <li class="cat-item cat-item-79"><a href="product-category/men/index.html">Men</a></li>
                                                                <li class="cat-item cat-item-53"><a href="product-category/trending/index.html">Trending</a></li>
                                                                <li class="cat-item cat-item-82"><a href="product-category/women/index.html">Women</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="widget woocommerce widget_product_search">
                                                        <h2 class="widgettitle">Search</h2>
                                                        <form role="search" method="get" id="searchform" action="">
                                                            <div class="form-input"><input type="text" value="Search product..."
                                                                    name="s" id="ws" placeholder="Search product..." /><button
                                                                    class="btn btn-primary" type="submit" id="wsearchsubmit">search</button><input
                                                                    type="hidden" name="post_type" value="product" /></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>