<div class="wrapper ">
    <div class="page-wrapper">
        <div class="header-container fashion-header-1">
            <div class="header">
                <div class="header-content">
                    <p>
                        {{#unless isAdmin}}
                            <div class="vc_row wpb_row vc_row-fluid top-bar wrapper-padding vc_custom_1537341045708 vc_row-has-fill">
                                <div class="row-container">
                                    <div class="wpb_column vc_column_container vc_col-sm-8">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  header-phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="language-area wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_wp_custommenu wpb_content_element currency switcher">
                                                    <div class="widget widget_nav_menu">
                                                        <div class="menu-currency-container">
                                                            <ul id="menu-currency" class="menu">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_wp_custommenu wpb_content_element language switcher">
                                                    <div class="widget widget_nav_menu">
                                                        <div class="menu-language-container">
                                                            <ul id="menu-cart" class="menu">
                                                                <li id="menu-item-9253" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children first menu-item-9253">
                                                                    <a href="#">Cart</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_wp_custommenu wpb_content_element account switcher">
                                                    <div class="widget widget_nav_menu">
                                                        <div class="menu-account-menu-container">
                                                            <ul id="menu-account-menu" class="menu">
                                                                <li id="menu-item-9478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children first menu-item-9478"><a
                                                                        href="#">My Account</a>
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-9245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9245">
                                                                            <a href="/checkout">Checkout</a>
                                                                        </li>
                                                                        {{#if user}}
                                                                        <li id="menu-item-9702" class="menu-item menu-item-type-custom menu-item-object-custom last menu-item-9702">
                                                                            <a href="/logout">Logout</a>
                                                                        </li>
                                                                        {{else}}
                                                                        <li id="menu-item-9702" class="menu-item menu-item-type-custom menu-item-object-custom last menu-item-9702">
                                                                            <a href="/user/login">Log In</a>
                                                                        </li>
                                                                        {{/if}}
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/unless}}
                        <div class="vc_row wpb_row vc_row-fluid header-middle wrapper-padding vc_custom_1531900215718">
                            <div class="row-container">
                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   logo">
                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="100" height="27" src="/images/fabrixruslogo.png" class="vc_single_image-img attachment-full"
                                                            alt="FabrixRus" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="main-menu-wrapper">
                                                <div class="visible-small mobile-menu">
                                                    <div class="mbmenu-toggler">Menu<span class="mbmenu-icon"><i class="fa fa-bars"></i></span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="mobile-menu-container">
                                                        <ul id="menu-horizontal-menu" class="nav-menu">
                                                            <li id="menu-item-9340" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children first menu-item-9340">
                                                                <a href="/">Home</a>
                                                            </li>
                                                            <li id="menu-item-9339" class="menu-item menu-item-type-post_type menu-item-object-page last menu-item-9339"><a
                                                                    href="/contact">Contact Us</a></li>
                                                            <li id="menu-item-9339" class="menu-item menu-item-type-post_type menu-item-object-page last menu-item-9339">
                                                                <a href="/products">
                                                                    Shop
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="header-sticky ">
                                                    <div class="nav-container">
                                                        <div class="logo-sticky"><a href="/" title="FabrixRus" rel="home"><img
                                                                    src="/images/fabrixruslogo.png" alt="FabrixRus" /></a></div>
                                                        <div class="horizontal-menu visible-large">

                                                            <!-- begin "mega_main_menu" -->
                                                            <div id="primary" class="primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-smooth direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_5 include-logo include-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-1-6 mega_main mega_main_menu">
                                                                <div class="menu_holder">
                                                                    <div class="mmm_fullwidth_container"></div><!-- class="fullwidth_container" -->
                                                                    <div class="menu_inner">
                                                                        <span class="nav_logo">
                                                                            <a class="logo_link" href=""
                                                                                title="FabrixRus">
                                                                                <img src="wp-content/plugins/mega_main_menu/framework/src/img/megamain-logo-120x120.png"
                                                                                    alt="FabrixRus" />
                                                                            </a>
                                                                            <span class="mobile_toggle">
                                                                                <span class="mobile_button">
                                                                                    Menu &nbsp;
                                                                                    <span class="symbol_menu">&equiv;</span>
                                                                                    <span class="symbol_cross">&#x2573;</span>
                                                                                </span><!-- class="mobile_button" -->
                                                                            </span><!-- /class="mobile_toggle" -->
                                                                        </span><!-- /class="nav_logo" -->
                                                                        {{#unless isAdmin}}
                                                                            <ul id="main_ul-primary" class="mega_main_menu_ul">
                                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom {{#if home}} current-menu-item {{/if}} menu-item-home first menu-item-9340 default_dropdown submenu_default_width columns1">
                                                                                    <a href="/" class="item_link  disable_icon" tabindex="1">
                                                                                        <i class=""></i>
                                                                                        <span class="link_content">
                                                                                            <span class="link_text">
                                                                                                Home
                                                                                            </span>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if about}} current-menu-item {{/if}} last menu-item-9339 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                    <a href="/about" class="item_link  disable_icon" tabindex="43">
                                                                                        <i class=""></i>
                                                                                        <span class="link_content">
                                                                                            <span class="link_text">
                                                                                                About Us
                                                                                            </span>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if contact}} current-menu-item {{/if}} last menu-item-9339 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                    <a href="/contact" class="item_link  disable_icon" tabindex="43">
                                                                                        <i class=""></i>
                                                                                        <span class="link_content">
                                                                                            <span class="link_text">
                                                                                                Contact Us
                                                                                            </span>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if shop}} current-menu-item {{/if}} last menu-item-9339 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                    <a href="/products/store" class="item_link  disable_icon" tabindex="43">
                                                                                        <i class=""></i>
                                                                                        <span class="link_content">
                                                                                            <span class="link_text">
                                                                                                Shop
                                                                                            </span>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="nav_search_box">
                                                                                    <form method="get" class="mega_main_menu_searchform" action="">
                                                                                        <input type="text" class="field" name="s" id="s" />
                                                                                        <i class="im-icon-search-3 icosearch"></i>
                                                                                        <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
                                                                                    </form>
                                                                                </li><!-- class="nav_search_box" -->
                                                                            </ul>
                                                                        {{/unless}}
                                                                    </div><!-- /class="menu_inner" -->
                                                                </div><!-- /class="menu_holder" -->
                                                            </div><!-- /id="mega_main_menu" -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-right wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="widget woocommerce widget_shopping_cart">
                                                <h2 class="widgettitle">Cart</h2>
                                                <div class="widget_shopping_cart_content"></div>
                                            </div>
                                            <div class="header-search">
                                                <div class="search-dropdown">
                                                    <div class="categories-container">
                                                        <div class="cate-toggler">Categories</div>
                                                        <div class="widget woocommerce widget_product_categories">
                                                            <h2 class="widgettitle">Categories</h2>
                                                            <ul class="product-categories">
                                                                <li class="cat-item cat-item-15"><a href="product-category/uncategorized/index.html">Uncategorized</a></li>
                                                                <li class="cat-item cat-item-54"><a href="product-category/clothings/index.html">Clothings</a></li>
                                                                <li class="cat-item cat-item-93"><a href="product-category/hair-dyes-and-colors/index.html">Hair
                                                                        Dyes
                                                                        and Colors</a></li>
                                                                <li class="cat-item cat-item-101"><a href="product-category/hair-rinses/index.html">Hair
                                                                        Rinses</a></li>
                                                                <li class="cat-item cat-item-79"><a href="product-category/men/index.html">Men</a></li>
                                                                <li class="cat-item cat-item-53"><a href="product-category/trending/index.html">Trending</a></li>
                                                                <li class="cat-item cat-item-82"><a href="product-category/women/index.html">Women</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {{#unless isAdmin}}
                                                        <div class="widget woocommerce widget_product_search">
                                                            <h2 class="widgettitle">Search</h2>
                                                            <form role="search" method="get" id="searchform" action="">
                                                                <div class="form-input"><input type="text" value="Search product..." name="s" id="ws" placeholder="Search product..." /><button
                                                                        class="btn btn-primary" type="submit" id="wsearchsubmit">search</button><input type="hidden" name="post_type"
                                                                        value="product" /></div>
                                                            </form>
                                                        </div>
                                                    {{/unless}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>