<div class="wrapper ">
    <div class="page-wrapper">
        <div class="main-container about-page">
            <div class="title-breadcrumb">
                <div class="container">
                    <div class="title-breadcrumb-inner">
                        <div class="breadcrumbs"><a href="../index.html">Home</a><span class="separator">/</span><span> About Us</span></div>
                        <header class="entry-header">
                            <h1 class="entry-title">About Us</h1>
                        </header>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="about-container">

                    <article id="post-1977" class="post-1977 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1537238972642">
                                <div class="row-container">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <h2 style="text-align: center" class="vc_custom_heading">Welcome to FabrixRus</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1535775257883">
                                <div class="row-container">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1538378293116">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                            <img width="960" height="634" src="../wp-content/uploads/2018/05/about-us-img1.jpg"
                                                           class="vc_single_image-img attachment-full" alt="" srcset="http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1.jpg 960w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1-100x66.jpg 100w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1-300x198.jpg 300w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1-768x507.jpg 768w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1-600x396.jpg 600w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/about-us-img1-150x99.jpg 150w"
                                                                                                                       sizes="(max-width: 960px) 100vw, 960px" /></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1537239661240">
                                                    <div class="wpb_wrapper">
                                                        <p style="text-align: left;">Adipiscing lacus ut elementum, nec duis, tempor litora turpis dapibus.
                                                            Imperdiet cursus odio tortor in elementum. Egestas nunc eleifend feugiat lectus laoreet, vel nunc
                                                            taciti integer cras. Hac pede dis, praesent nibh ac dui mauris sit. Pellentesque mi, facilisi mauris,
                                                            elit sociis leo sodales accumsan. Iaculis ac fringilla torquent lorem consectetuer, sociosqu phasellus
                                                            risus urna aliquam, ornare.</p>
                                                        <p><span style="color: #78a206;"><em>“There are many variations of passages of Lorem Ipsum available,
																		but the majority have suffered alteration in some form.”</em></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1537238982457">
                                <div class="row-container">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <h2 style="text-align: center" class="vc_custom_heading">Why chose us?</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid content-about2 vc_custom_1537164632741">
                                
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid content-about3 vc_custom_1537239115119">
                                <div class="row-container">
                                    <div class="box-left wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1538378314428">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="256" src="../wp-content/uploads/2018/05/service1-banner1.jpg"
                                                                                                                       class="vc_single_image-img attachment-full" alt="" srcset="http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner1.jpg 370w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner1-100x69.jpg 100w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner1-300x208.jpg 300w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner1-150x104.jpg 150w"
                                                                                                                       sizes="(max-width: 370px) 100vw, 370px" /></div>
                                                    </figure>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1534235522484">
                                                    <div class="wpb_wrapper">
                                                        <h5 style="text-align: center; margin-bottom: 10px;">What do we do?</h5>
                                                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                                            quasi architecto</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1538378331181">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="256" src="../wp-content/uploads/2018/05/service1-banner2.jpg"
                                                                                                                       class="vc_single_image-img attachment-full" alt="" srcset="http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner2.jpg 370w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner2-100x69.jpg 100w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner2-300x208.jpg 300w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner2-150x104.jpg 150w"
                                                                                                                       sizes="(max-width: 370px) 100vw, 370px" /></div>
                                                    </figure>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1534235537534">
                                                    <div class="wpb_wrapper">
                                                        <h5 style="text-align: center; margin-bottom: 10px;">Our Mission</h5>
                                                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                                            quasi architecto</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1538378348815">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="256" src="../wp-content/uploads/2018/05/service1-banner3.jpg"
                                                                                                                       class="vc_single_image-img attachment-full" alt="" srcset="http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner3.jpg 370w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner3-100x69.jpg 100w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner3-300x208.jpg 300w, http://demo.roadthemes.com/beeta/wp-content/uploads/2018/05/service1-banner3-150x104.jpg 150w"
                                                                                                                       sizes="(max-width: 370px) 100vw, 370px" /></div>
                                                    </figure>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1534235554004">
                                                    <div class="wpb_wrapper">
                                                        <h5 style="text-align: center; margin-bottom: 10px;">History Of Us</h5>
                                                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                                            quasi architecto</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid content-about4 vc_custom_1537240091411">
                                <div class="row-container">
                                    <div class="about-help wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <h2 style="text-align: center" class="vc_custom_heading vc_custom_1537239037220">What Our Custumers Says ?</h2>
                                                <div class="widget widget_woothemes_testimonials">
                                                    <div class="testimonials component effect-fade">
                                                        <div class="testimonials-list">
                                                            <div id="quote-9647" class="quote first" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                <blockquote class="testimonials-text" itemprop="reviewBody">
                                                                    <p>Support and response has been amazing, helping me with several issues I came across and got them
                                                                        solved almost the same day. A pleasure to work with them!</p>
                                                                </blockquote>
                                                                <img width="50" height="50" src="../wp-content/uploads/2018/07/testimonial1.jpg" class="avatar wp-post-image" alt="" />
                                                                <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                itemprop="name">Kathy Young</span> <span class="title" itemprop="jobTitle">CEO of SunPark</span>
                                                                <!--/.title-->
                                                            </cite>
                                                                <!--/.author-->
                                                            </div>
                                                            <div id="quote-9653" class="quote" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                <blockquote class="testimonials-text" itemprop="reviewBody">
                                                                    <p>Code, template and others are very good. The support has served me immediately and solved my
                                                                        problems when I need help. Are to be congratulated.</p>
                                                                </blockquote><img width="50" height="50" src="../wp-content/uploads/2018/07/testimonial2.jpg" class="avatar wp-post-image"
                                                                                  alt="" /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                                                                    itemprop="name">Jenifer Brown</span> <span class="title" itemprop="jobTitle">Manager of AZ</span>
                                                                <!--/.title-->
                                                            </cite>
                                                                <!--/.author-->
                                                            </div>
                                                            <div id="quote-9654" class="quote last" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                <blockquote class="testimonials-text" itemprop="reviewBody">
                                                                    <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many
                                                                        options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly
                                                                        recommend this theme and these people!</p>
                                                                </blockquote><img width="50" height="50" src="../wp-content/uploads/2018/07/testimonial3.jpg" class="avatar wp-post-image"
                                                                                  alt="" /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                                                                    itemprop="name">John Sullivan</span> <span class="title" itemprop="jobTitle">Customer</span>
                                                                <!--/.title-->
                                                            </cite>
                                                                <!--/.author-->
                                                            </div>
                                                        </div>
                                                        <!--/.testimonials-list-->
                                                        <div class="fix"></div>
                                                    </div>
                                                    <!--/.testimonials-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div><!-- .page -->
</div><!-- .wrapper -->
<!--<div class="beeta_loading"></div>-->
<div id="back-top" class="hidden-xs hidden-sm hidden-md"></div>
<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script type="text/template" id="tmpl-variation-template">
    <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
    <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
    <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
    <p>Sorry, this product is unavailable. Please choose a different combination.</p>
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "http:\/\/demo.roadthemes.com\/beeta\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/scripts5560.js?ver=5.0.4'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%" };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_bfe738ac7627b160c7af34b178a3fb38", "fragment_name": "wc_fragments_bfe738ac7627b160c7af34b178a3fb38" };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript'>
    jQuery('body').bind('wc_fragments_refreshed', function () {
        jQuery('body').trigger('jetpack-lazy-images-load');
    });

</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_woocompare = { "ajaxurl": "\/beeta\/?wc-ajax=%%endpoint%%", "actionadd": "yith-woocompare-add-product", "actionremove": "yith-woocompare-remove-product", "actionview": "yith-woocompare-view-table", "actionreload": "yith-woocompare-reload-product", "added_label": "Added", "table_title": "Product Comparison", "auto_open": "yes", "loader": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-compare\/assets\/images\/loader.gif", "button_text": "Compare", "cookie_name": "yith_woocompare_list", "close_label": "Close" };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.minb6db.js?ver=2.3.3'></script>
<script type='text/javascript' src='../wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min13ac.js?ver=1.4.21'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min005e.js?ver=3.1.6'></script>
<script type='text/javascript' src='../wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "is_user_logged_in": "", "ajax_loader_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif", "remove_from_wishlist_after_add_to_cart": "yes", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser.", "added_to_cart_message": "<div class=\"woocommerce-message\">Product correctly added to cart<\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "move_to_another_wishlist_action": "move_to_another_wishlsit", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem" } };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl950a.js?ver=2.2.3'></script>
<script type='text/javascript' src='../wp-includes/js/comment-reply.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/bootstrap.minbfce.js?ver=4.1.0'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/owl.carousel531b.js?ver=2.3.4'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/owl.carousel.min531b.js?ver=2.3.4'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/fancybox/jquery.fancybox.packd63f.js?ver=2.1.5'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-buttons97de.js?ver=1.0.5'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-media0ba6.js?ver=1.0.6'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-thumbs19f6.js?ver=1.0.7'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/superfish/superfish.mind046.js?ver=1.3.15'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/modernizr.custom.min61da.js?ver=2.6.2'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/jquery.shuffle.min6e0e.js?ver=3.0.0'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/jquery.mousewheel.min4830.js?ver=3.1.12'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/jquery.countdown.min3601.js?ver=2.2.0'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/jquery.counterup.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/variablesc2d5.js?ver=20140826'></script>
<script type='text/javascript' src='../wp-content/themes/beeta/js/beeta-themec2d5.js?ver=20140826'></script>
<script type='text/javascript'>
    var ajaxurl = "../wp-admin/admin-ajax.html";
</script>
<script type='text/javascript' src='../wp-content/plugins/mega_main_menu/src/js/frontend784e.js?ver=2.1.6'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpUtilSettings = { "ajax": { "url": "\/beeta\/wp-admin\/admin-ajax.php" } };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-includes/js/wp-util.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.", "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.", "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination." };
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript' src='../wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min7e15.js?ver=5.5.4'></script>