
<div class="body_wrap">

    <div class="page_wrap"><header class="top_panel top_panel_custom top_panel_custom_435 top_panel_custom_header-subpages without_bg_image"><div class="vc_row wpb_row vc_row-fluid vc_custom_1516108296042 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_mobile"><div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1513765750528"><div class="wpb_wrapper"><div class="sc_layouts_item"><nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_zoom_line" id="sc_layouts_menu_660567347"		><ul id="sc_layouts_menu_766792124" class="sc_layouts_menu_nav"><li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-152"><a href="#"><span>Home</span></a>
        <ul class="sub-menu"><li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-408"><a href="../index.html"><span>Home 1</span></a></li><li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="../home-2/index.html"><span>Home 2</span></a></li><li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="../home-boxed/index.html"><span>Home Boxed</span></a></li></ul>
    </li><li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153"><a href="#"><span>Features</span></a>
        <ul class="sub-menu"><li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="../typography/index.html"><span>Typography</span></a></li><li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="../shortcodes/index.html"><span>Shortcodes</span></a></li><li id="menu-item-923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="../service-plus/index.html"><span>Service Plus</span></a></li><li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="../support/index.html"><span>Support</span></a></li><li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="../video-tutorials/index.html"><span>Video Tutorials</span></a></li><li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-158"><a href="#"><span>Gallery</span></a>
            <ul class="sub-menu"><li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="../gallery-grid/index.html"><span>Grid</span></a></li><li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="../gallery-masonry/index.html"><span>Masonry</span></a></li><li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"><a href="../gallery-cobbles/index.html"><span>Cobbles</span></a></li></ul>
        </li></ul>
    </li><li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="../shop/index.html"><span>Shop</span></a></li><li id="menu-item-370" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-370"><a href="#"><span>Pages</span></a>
        <ul class="sub-menu"><li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="../our-features/index.html"><span>Our Features</span></a></li><li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="../our-benefits/index.html"><span>Our Benefits</span></a></li></ul>
    </li><li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-162"><a href="#"><span>News</span></a>
        <ul class="sub-menu"><li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li id="menu-item-164" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-164"><a href="#"><span>Classic Style</span></a>
            <ul class="sub-menu"><li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="../blog-classic-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="../blog-classic-3-columns/index.html"><span>3 Columns</span></a></li></ul>
        </li><li id="menu-item-167" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167"><a href="#"><span>Portfolio</span></a>
            <ul class="sub-menu"><li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="../blog-portfolio-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="../blog-portfolio-3-columns/index.html"><span>3 Columns</span></a></li><li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="../blog-portfolio-4-columns/index.html"><span>4 Columns</span></a></li></ul>
        </li><li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171"><a href="#"><span>Chess</span></a>
            <ul class="sub-menu"><li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="../blog-chess-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="../blog-chess-4-columns/index.html"><span>4 Columns</span></a></li><li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../blog-chess-6-columns/index.html"><span>6 Columns</span></a></li></ul>
        </li></ul>
    </li><li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-149 current_page_item menu-item-175"><a href="index.html"><span>Contacts</span></a></li></ul></nav><!-- /.sc_layouts_menu --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="sc_layouts_item"><a href="../index.html" id="sc_layouts_logo_1561881828" class="sc_layouts_logo sc_layouts_logo_default"><img class="logo_image" src="../wp-content/uploads/2017/12/logo-1x-dark.png" alt="" width="129" height="28"></a><!-- /.sc_layouts_logo --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1513768311200"><div class="wpb_wrapper"><div class="sc_layouts_item"><div id="widget_contacts_442545247" class="widget_area sc_widget_contacts vc_widget_contacts wpb_content_element head_phone"><aside id="widget_contacts_442545247_widget" class="widget widget_contacts"><div class="contacts_wrap"><div class="contacts_info"><a href="tel:88002563684" class="contacts_phone">8 800 256 36 84</a></div></div><!-- /.contacts_wrap --></aside></div></div><div class="sc_layouts_item"><div id="sc_layouts_login_1955300117" class="sc_layouts_login sc_layouts_menu sc_layouts_menu_default"><ul class="sc_layouts_login_menu sc_layouts_menu_nav sc_layouts_menu_no_collapse"><li class="menu-item"><a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link "><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">Login</span></span></a></li></ul></div><!-- /.sc_layouts_login --></div><div class="sc_layouts_item"><div id="sc_layouts_search_947199646" class="sc_layouts_search"><div class="search_wrap search_style_fullscreen layouts_search">
        <div class="search_form_wrap">
            <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                <input type="text" class="search_field" placeholder="Search" value="" name="s">
                <button type="submit" class="search_submit trx_addons_icon-search"></button>
                <a class="search_close trx_addons_icon-delete"></a>
            </form>
        </div>
    </div></div><!-- /.sc_layouts_search --></div><div class="sc_layouts_item"><div id="sc_layouts_cart_1367220219" class="sc_layouts_cart">
        <span class="sc_layouts_item_icon sc_layouts_cart_icon trx_addons_icon-basket"></span>
        <span class="sc_layouts_item_details sc_layouts_cart_details">
						<span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
				<span class="sc_layouts_cart_items">0 items</span>
				- 
				<span class="sc_layouts_cart_summa">&#36;0.00</span>
			</span>
		</span><!-- /.sc_layouts_cart_details -->
        <span class="sc_layouts_cart_items_short">0</span>
        <div class="sc_layouts_cart_widget widget_area">
            <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
            <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>		</div><!-- /.sc_layouts_cart_widget -->
    </div><!-- /.sc_layouts_cart --></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1516108301727 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1515848359439"><div class="wpb_wrapper"><div class="vc_empty_space  height_small"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="sc_layouts_item"><a href="../index.html" id="sc_layouts_logo_1767485127" class="sc_layouts_logo sc_layouts_logo_default"><img class="logo_image" src="../wp-content/uploads/2017/12/logo-1x-dark.png" alt="" width="129" height="28"></a><!-- /.sc_layouts_logo --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1517492956445"><div class="wpb_wrapper"><div class="sc_layouts_item"><div id="sc_layouts_search_1388372489" class="sc_layouts_search"><div class="search_wrap search_style_fullscreen layouts_search">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                    <input type="text" class="search_field" placeholder="Search" value="" name="s">
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                    <a class="search_close trx_addons_icon-delete"></a>
                </form>
            </div>
        </div></div><!-- /.sc_layouts_search --></div><div class="sc_layouts_item"><div id="sc_layouts_cart_1845618271" class="sc_layouts_cart">
            <span class="sc_layouts_item_icon sc_layouts_cart_icon trx_addons_icon-basket"></span>
            <span class="sc_layouts_item_details sc_layouts_cart_details">
						<span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
				<span class="sc_layouts_cart_items">0 items</span>
				- 
				<span class="sc_layouts_cart_summa">&#36;0.00</span>
			</span>
		</span><!-- /.sc_layouts_cart_details -->
            <span class="sc_layouts_cart_items_short">0</span>
            <div class="sc_layouts_cart_widget widget_area">
                <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
                <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>		</div><!-- /.sc_layouts_cart_widget -->
        </div><!-- /.sc_layouts_cart --></div><div class="sc_layouts_item"><div id="sc_layouts_menu_890220988" class="sc_layouts_iconed_text sc_layouts_menu_mobile_button sc_layouts_menu_mobile_button_burger">
            <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
            </a>
        </div></div></div></div></div></div><div class="vc_empty_space  height_small"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
    </div></div></div></div><div class="vc_row wpb_row vc_row-fluid mask_head vc_custom_1516100885193 vc_row-has-fill scheme_dark"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 116px" ><span class="vc_empty_space_inner"></span></div>
        <div class="sc_layouts_item"><div id="sc_layouts_title_209390987" class="sc_layouts_title sc_align_center with_content without_image"><div class="sc_layouts_title_content"><div class="sc_layouts_title_title">							<h1 class="sc_layouts_title_caption">Contacts</h1>
        </div><div class="sc_layouts_title_breadcrumbs"><div class="breadcrumbs"><a class="breadcrumbs_item home" href="../index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Contacts</span></div></div></div><!-- .sc_layouts_title_content --></div><!-- /.sc_layouts_title --></div><div class="vc_empty_space"   style="height: 116px" ><span class="vc_empty_space_inner"></span></div>
    </div></div></div></div></header><div class="menu_mobile_overlay"></div>
        <div class="menu_mobile menu_mobile_fullscreen scheme_dark">
            <div class="menu_mobile_inner">
                <a class="menu_mobile_close icon-cancel"></a><a class="sc_layouts_logo" href="../index.html"><img src="../wp-content/uploads/2017/12/logo-1x-light.png" alt="" width="129" height="27"></a><nav class="menu_mobile_nav_area"><ul id="menu_mobile_585985709"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-152"><a href="#"><span>Home</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-408"><a href="../index.html"><span>Home 1</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="../home-2/index.html"><span>Home 2</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="../home-boxed/index.html"><span>Home Boxed</span></a></li></ul>
            </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153"><a href="#"><span>Features</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="../typography/index.html"><span>Typography</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="../shortcodes/index.html"><span>Shortcodes</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="../service-plus/index.html"><span>Service Plus</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="../support/index.html"><span>Support</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="../video-tutorials/index.html"><span>Video Tutorials</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-158"><a href="#"><span>Gallery</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="../gallery-grid/index.html"><span>Grid</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="../gallery-masonry/index.html"><span>Masonry</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"><a href="../gallery-cobbles/index.html"><span>Cobbles</span></a></li></ul>
                </li></ul>
            </li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="../shop/index.html"><span>Shop</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-370"><a href="#"><span>Pages</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="../our-features/index.html"><span>Our Features</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="../our-benefits/index.html"><span>Our Benefits</span></a></li></ul>
            </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-162"><a href="#"><span>News</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-164"><a href="#"><span>Classic Style</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="../blog-classic-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="../blog-classic-3-columns/index.html"><span>3 Columns</span></a></li></ul>
                </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167"><a href="#"><span>Portfolio</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="../blog-portfolio-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="../blog-portfolio-3-columns/index.html"><span>3 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="../blog-portfolio-4-columns/index.html"><span>4 Columns</span></a></li></ul>
                </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171"><a href="#"><span>Chess</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="../blog-chess-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="../blog-chess-4-columns/index.html"><span>4 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../blog-chess-6-columns/index.html"><span>6 Columns</span></a></li></ul>
                </li></ul>
            </li><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-149 current_page_item menu-item-175"><a href="index.html"><span>Contacts</span></a></li></ul></nav><div class="search_wrap search_style_normal search_mobile">
                <div class="search_form_wrap">
                    <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                        <input type="text" class="search_field" placeholder="Search" value="" name="s">
                        <button type="submit" class="search_submit trx_addons_icon-search"></button>
                    </form>
                </div>
            </div><div class="socials_mobile"><a target="_blank" href="https://twitter.com/ThemeREX_net/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a><a target="_blank" href="https://plus.google.com/+envato/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_gplus"><span class="icon-gplus"></span></span></a><a target="_blank" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_youtube"><span class="icon-youtube"></span></span></a></div>	</div>
        </div>

        <div class="page_content_wrap">

            <div class="content_wrap">



                <div class="content">


                    <article id="post-149" class="post_item_single post_type_page post-149 page type-page status-publish hentry">


                        <div class="post_content entry-content">
                            <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                                    <span class="vc_icon_element-icon icon-placeholder" style="color:#e5523e !important"></span></div>
                            </div>

                                <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                        <h4 class="sc_icons_item_title" style="text-align: center; text-transform: capitalize;">Address</h4>
                                        <div class="sc_icons_item_description" style="text-align: center;">539 Cherry Tree DriveJacksonville, FL 32216</div>

                                    </div>
                                </div>
                            </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                                    <span class="vc_icon_element-icon icon-phone-call" style="color:#e5523e !important"></span></div>
                            </div>

                                <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                        <h4 class="sc_icons_item_title" style="text-align: center; text-transform: capitalize;">Phone</h4>
                                        <div class="sc_icons_item_description" style="text-align: center;"><a href="tel:88001584578">8 800 158 45 78</a></div>
                                        <div class="sc_icons_item_description" style="text-align: center;"><a href="tel:88001234567">8 800 123 45 67</a></div>

                                    </div>
                                </div>
                            </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                                    <span class="vc_icon_element-icon icon-envelope" style="color:#e5523e !important"></span></div>
                            </div>

                                <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                        <h4 class="sc_icons_item_title" style="text-align: center; text-transform: capitalize;">Email</h4>
                                        <div class="sc_icons_item_description" style="text-align: center;"><a href="mailto:example@info.com">example@info.com</a></div>
                                        <div class="sc_icons_item_description" style="text-align: center;"><a href="mailto:site_example@info.com">site_example@info.com</a></div>

                                    </div>
                                </div>
                            </div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space  hide_on_tablet hide_on_mobile"   style="height: 160px" ><span class="vc_empty_space_inner"></span></div>
                            <div class="vc_empty_space  hide_on_desktop hide_on_notebook"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
                            <div id="sc_googlemap_276282579_wrap" class="sc_googlemap_wrap"><div id="sc_googlemap_276282579"
                                                                                                 class="sc_googlemap sc_googlemap_default"
                                                                                                 style="width:100%;height:505px;"			data-zoom="14"
                                                                                                 data-style="dark"
                                                                                                 data-cluster-icon=""
                            ><div id="sc_googlemap_276282579_1" class="sc_googlemap_marker"
                                  data-latlng=""
                                  data-address="178-2 Anthony St East Providence, RI 02914"
                                  data-description=""
                                  data-title=""
                                  data-icon="../wp-content/uploads/2017/12/map-marker.png"
                                  data-icon_shadow=""
                                  data-icon_width=""
                                  data-icon_height=""
                            ></div></div></div><!-- /.sc_googlemap_wrap --><div class="vc_empty_space  hide_on_desktop hide_on_notebook"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
                            <div class="vc_empty_space  hide_on_tablet hide_on_mobile"   style="height: 160px" ><span class="vc_empty_space_inner"></span></div>
                        </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div
                                id="sc_form_1555292197"	class="sc_form color_style_default sc_form_default">
                            <h2 class="sc_item_title sc_form_title sc_align_center sc_item_title_style_default">Let's Get In Touch</h2><form class="sc_form_form " method="post" action="http://coleo.themerex.net/wp-admin/admin-ajax.php">	<div class="sc_form_details trx_addons_columns_wrap"><div class="trx_addons_column-1_2"><label class="sc_form_field sc_form_field_name sc_form_field_text required"><span class="sc_form_field_wrap"><input type="text"
                                                                                                                                                                                                                                                                                                                                                                                                                                                            name="name"
                                                                                                                                                                                                                                                                                                                                                                                                                                                            id="name_1883030229"
                                                                                                                                                                                                                                                                                                                                                                                                                                                            value="" aria-required="true" placeholder="Your name"></span></label></div><div class="trx_addons_column-1_2"><label class="sc_form_field sc_form_field_email sc_form_field_text required"><span class="sc_form_field_wrap"><input type="text"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               name="email"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               id="email_503843268"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               value="" aria-required="true" placeholder="Your e-mail"></span></label></div></div><label class="sc_form_field sc_form_field_message sc_form_field_textarea required"><span class="sc_form_field_wrap"><textarea
                                name="message"
                                id="message_1924018723" aria-required="true" placeholder="Your message"></textarea></span></label><div class="sc_form_field sc_form_field_button"><button class="">Send Message</button></div>
                            <div class="trx_addons_message_box sc_form_result"></div>
                        </form></div><!-- /.sc_form --></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>
                        </div><!-- .entry-content -->


                    </article>

                </div><!-- </.content> -->

            </div><!-- </.content_wrap> -->			</div><!-- </.page_content_wrap> -->

        <footer class="footer_wrap footer_default">
            <div class="footer_widgets_wrap widget_area sc_layouts_row sc_layouts_row_type_normal">
                <div class="footer_widgets_inner widget_area_inner">
                    <div class="content_wrap"><aside id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget"><script type="text/javascript">(function() {
                        if (!window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms    : {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push({
                                            event   : event,
                                            callback: callback
                                        });
                                    }
                                }
                            }
                        }
                    })();
                    </script><!-- MailChimp for WordPress v4.2 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-441" method="post" data-id="441" data-name="" ><div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Newsletter sign up" required /><span class="arrow"><input type="submit" value="Sign up" /></span></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1539971339" /><input type="hidden" name="_mc4wp_form_id" value="441" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></aside></div><!-- /.content_wrap -->			</div><!-- /.footer_widgets_inner -->
            </div><!-- /.footer_widgets_wrap -->
            <div class="footer_menu_wrap">
                <div class="footer_menu_inner">
                    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="menu_footer_nav_area sc_layouts_menu sc_layouts_menu_default"><ul id="menu_footer" class="sc_layouts_menu_nav menu_footer_nav"><li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="../home-boxed/index.html"><span>Home</span></a></li><li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="../our-features/index.html"><span>Features</span></a></li><li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="../shop/index.html"><span>Store</span></a></li><li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="../blog-chess-2-columns/index.html"><span>News</span></a></li><li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-149 current_page_item menu-item-433"><a href="index.html"><span>Contacts</span></a></li></ul></nav>		</div>
            </div>

            <div class="footer_copyright_wrap scheme_">
                <div class="footer_copyright_inner">
                    <div class="content_wrap">
                        <div class="copyright_text">Copyright © 2018 by <a href="https://themeforest.net/user/themerex" target="_blank">ThemeREX</a>. All rights reserved.</div>
                    </div>
                </div>
            </div>
            <div class="footer_socials_wrap socials_wrap">
                <div class="footer_socials_inner">
                    <a target="_blank" href="https://twitter.com/ThemeREX_net/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a><a target="_blank" href="https://plus.google.com/+envato/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_gplus"><span class="icon-gplus"></span></span></a><a target="_blank" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_youtube"><span class="icon-youtube"></span></span></a>		</div>
            </div>
        </footer><!-- /.footer_wrap -->

    </div><!-- /.page_wrap -->

</div><!-- /.body_wrap -->


<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a><div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
    <ul class="trx_addons_tabs_titles"><li class="trx_addons_tabs_title trx_addons_tabs_title_login">
        <a href="#trx_addons_login_content">
            <i class="trx_addons_icon-lock-open"></i>
            Login			</a>
    </li><li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
        <a href="#trx_addons_register_content">
            <i class="trx_addons_icon-user-plus"></i>
            Register			</a>
    </li></ul>	<div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
    <div>
        <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
            <h5>Regular Customer</h5>
            <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="http://coleo.themerex.net/wp-login.php" method="post" name="trx_addons_login_form">
                <input type="hidden" id="login_redirect_to" name="redirect_to" value="">
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                    <label class="sc_form_field sc_form_field_log sc_form_field_text required"><span class="sc_form_field_wrap"><input type="text"
                                                                                                                                       name="log"
                                                                                                                                       id="log_892571643"
                                                                                                                                       value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i><span class="sc_form_field_content" data-content="Login">Login</span></span></span></label>					</div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                    <label class="sc_form_field sc_form_field_pwd sc_form_field_password required"><span class="sc_form_field_wrap"><input type="password"
                                                                                                                                           name="pwd"
                                                                                                                                           id="pwd_2111250739"
                                                                                                                                           value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i><span class="sc_form_field_content" data-content="Password">Password</span></span></span></label>					</div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                    <a href="../my-account/lost-password/index.html" class="trx_addons_popup_form_field_forgot_password">LOST YOUR PASSWORD?</a>
                    <!--<input type="checkbox" value="forever" id="rememberme" name="rememberme"><label for="rememberme"> Remember me</label>-->
                </div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                    <input type="submit" class="submit_button" value="Login">
                </div>
                <div class="trx_addons_message_box sc_form_result"></div>
            </form>
        </div>
    </div>
</div></div><script type="text/javascript">(function() {function addEventListener(element,event,handler) {
    if(element.addEventListener) {
        element.addEventListener(event,handler, false);
    } else if(element.attachEvent){
        element.attachEvent('on'+event,handler);
    }
}function maybePrefixUrlField() {
    if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
        this.value = "http://" + this.value;
    }
}

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if( urlFields && urlFields.length > 0 ) {
        for( var j=0; j < urlFields.length; j++ ) {
            addEventListener(urlFields[j],'blur',maybePrefixUrlField);
        }
    }/* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if( testInput.type !== 'date') {

        /* add placeholder & pattern to all date fields */
        var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
        for(var i=0; i<dateFields.length; i++) {
            if(!dateFields[i].placeholder) {
                dateFields[i].placeholder = 'YYYY-MM-DD';
            }
            if(!dateFields[i].pattern) {
                dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
            }
        }
    }

})();</script><link property="stylesheet" rel='stylesheet' id='font-awesome-css'  href='../wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min5243.css?ver=5.4.5' type='text/css' media='all' />
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var TRX_ADDONS_STORAGE = {"ajax_url":"http:\/\/coleo.themerex.net\/wp-admin\/admin-ajax.php","ajax_nonce":"0602f64084","site_url":"http:\/\/coleo.themerex.net","post_id":"149","vc_edit_mode":"0","popup_engine":"magnific","animate_inner_links":"0","menu_collapse":"1","menu_collapse_icon":"icon-ellipsis-vert","user_logged_in":"0","email_mask":"^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$","msg_ajax_error":"Invalid server answer!","msg_magnific_loading":"Loading image","msg_magnific_error":"Error loading image","msg_error_like":"Error saving your like! Please, try again later.","msg_field_name_empty":"The name can't be empty","msg_field_email_empty":"Too short (or empty) email address","msg_field_email_not_valid":"Invalid email address","msg_field_text_empty":"The message text can't be empty","msg_search_error":"Search error! Try again later.","msg_send_complete":"Send message complete!","msg_send_error":"Transmit failed!","ajax_views":"","menu_cache":[".menu_mobile_inner > nav > ul"],"login_via_ajax":"1","msg_login_empty":"The Login field can't be empty","msg_login_long":"The Login field is too long","msg_password_empty":"The password can't be empty and shorter then 4 characters","msg_password_long":"The password is too long","msg_login_success":"Login success! The page should be reloaded in 3 sec.","msg_login_error":"Login failed!","msg_not_agree":"Please, read and check 'Terms and Conditions'","msg_email_long":"E-mail address is too long","msg_email_not_valid":"E-mail address is invalid","msg_password_not_equal":"The passwords in both fields are not equal","msg_registration_success":"Registration success! Please log in!","msg_registration_error":"Registration failed!","scroll_to_anchor":"0","update_location_from_anchor":"0","msg_sc_googlemap_not_avail":"Googlemap service is not available","msg_sc_googlemap_geocoder_error":"Error while geocode address"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/trx_addons.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/coleo.themerex.net\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min7984.js?ver=3.3.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_553d66eb9063e393df09308891b12639","fragment_name":"wc_fragments_553d66eb9063e393df09308891b12639"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart5243.js?ver=5.4.5'></script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/components/cpt/layouts/shortcodes/menu/superfish.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var COLEO_STORAGE = {"ajax_url":"http:\/\/coleo.themerex.net\/wp-admin\/admin-ajax.php","ajax_nonce":"0602f64084","site_url":"http:\/\/coleo.themerex.net","theme_url":"http:\/\/coleo.themerex.net\/wp-content\/themes\/coleo","site_scheme":"scheme_default","user_logged_in":"","mobile_layout_width":"767","mobile_device":"","menu_side_stretch":"","menu_side_icons":"1","background_video":"","use_mediaelements":"1","comment_maxlength":"1000","admin_mode":"","email_mask":"^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$","strings":{"ajax_error":"Invalid server answer!","error_global":"Error data validation!","name_empty":"The name can&#039;t be empty","name_long":"Too long name","email_empty":"Too short (or empty) email address","email_long":"Too long email address","email_not_valid":"Invalid email address","text_empty":"The message text can&#039;t be empty","text_long":"Too long message text"},"alter_link_color":"#f4f4f4","button_hover":"default","stretch_tabs_area":"1"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/themes/coleo/js/__scripts.js'></script>
<script type='text/javascript'>
    var mejsL10n = {"language":"en","strings":{"mejs.install-flash":"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/","mejs.fullscreen-off":"Turn off Fullscreen","mejs.fullscreen-on":"Go Fullscreen","mejs.download-video":"Download Video","mejs.fullscreen":"Fullscreen","mejs.time-jump-forward":["Jump forward 1 second","Jump forward %1 seconds"],"mejs.loop":"Toggle Loop","mejs.play":"Play","mejs.pause":"Pause","mejs.close":"Close","mejs.time-slider":"Time Slider","mejs.time-help-text":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.","mejs.time-skip-back":["Skip back 1 second","Skip back %1 seconds"],"mejs.captions-subtitles":"Captions\/Subtitles","mejs.captions-chapters":"Chapters","mejs.none":"None","mejs.mute-toggle":"Mute Toggle","mejs.volume-help-text":"Use Up\/Down Arrow keys to increase or decrease volume.","mejs.unmute":"Unmute","mejs.mute":"Mute","mejs.volume-slider":"Volume Slider","mejs.video-player":"Video Player","mejs.audio-player":"Audio Player","mejs.ad-skip":"Skip ad","mejs.ad-skip-info":["Skip in 1 second","Skip in %1 seconds"],"mejs.source-chooser":"Source Chooser","mejs.stop":"Stop","mejs.speed-rate":"Speed Rate","mejs.live-broadcast":"Live Broadcast","mejs.afrikaans":"Afrikaans","mejs.albanian":"Albanian","mejs.arabic":"Arabic","mejs.belarusian":"Belarusian","mejs.bulgarian":"Bulgarian","mejs.catalan":"Catalan","mejs.chinese":"Chinese","mejs.chinese-simplified":"Chinese (Simplified)","mejs.chinese-traditional":"Chinese (Traditional)","mejs.croatian":"Croatian","mejs.czech":"Czech","mejs.danish":"Danish","mejs.dutch":"Dutch","mejs.english":"English","mejs.estonian":"Estonian","mejs.filipino":"Filipino","mejs.finnish":"Finnish","mejs.french":"French","mejs.galician":"Galician","mejs.german":"German","mejs.greek":"Greek","mejs.haitian-creole":"Haitian Creole","mejs.hebrew":"Hebrew","mejs.hindi":"Hindi","mejs.hungarian":"Hungarian","mejs.icelandic":"Icelandic","mejs.indonesian":"Indonesian","mejs.irish":"Irish","mejs.italian":"Italian","mejs.japanese":"Japanese","mejs.korean":"Korean","mejs.latvian":"Latvian","mejs.lithuanian":"Lithuanian","mejs.macedonian":"Macedonian","mejs.malay":"Malay","mejs.maltese":"Maltese","mejs.norwegian":"Norwegian","mejs.persian":"Persian","mejs.polish":"Polish","mejs.portuguese":"Portuguese","mejs.romanian":"Romanian","mejs.russian":"Russian","mejs.serbian":"Serbian","mejs.slovak":"Slovak","mejs.slovenian":"Slovenian","mejs.spanish":"Spanish","mejs.swahili":"Swahili","mejs.swedish":"Swedish","mejs.tagalog":"Tagalog","mejs.thai":"Thai","mejs.turkish":"Turkish","mejs.ukrainian":"Ukrainian","mejs.vietnamese":"Vietnamese","mejs.welsh":"Welsh","mejs.yiddish":"Yiddish"}};
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-and-player.min45a0.js?ver=4.2.6-78496d1'></script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-migrate.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/wp-mediaelement.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min5243.js?ver=5.4.5'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/effect.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/effect-fade.mine899.js?ver=1.11.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.minbc19.js?ver=4.2'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='http://coleo.themerex.net/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2'></script>
<![endif]-->
