<nav>
    <div class="container">
        <div class="logo">
            <span>
                <a href="#">
                    MeadowLake&trade;
                </a>
            </span>
        </div>
        <ul>
            <li class="active">
                <a href="/FAQs">
                    FAQs
                </a>
            </li>
            <li>
                <a href="/services">
                    Services
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
        </ul>
    </div>
</nav>