<div class="body_wrap">

    <div class="page_wrap"><header class="top_panel top_panel_custom top_panel_custom_435 top_panel_custom_header-subpages without_bg_image"><div class="vc_row wpb_row vc_row-fluid vc_custom_1516108296042 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_mobile"><div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1513765750528"><div class="wpb_wrapper"><div class="sc_layouts_item"><nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_zoom_line" id="sc_layouts_menu_1615217953"		><ul id="sc_layouts_menu_288511145" class="sc_layouts_menu_nav"><li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-152"><a href="#"><span>Home</span></a>
        <ul class="sub-menu"><li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-408"><a href="../index.html"><span>Home 1</span></a></li><li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="../home-2/index.html"><span>Home 2</span></a></li><li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="../home-boxed/index.html"><span>Home Boxed</span></a></li></ul>
    </li><li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153"><a href="#"><span>Features</span></a>
        <ul class="sub-menu"><li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="../typography/index.html"><span>Typography</span></a></li><li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="../shortcodes/index.html"><span>Shortcodes</span></a></li><li id="menu-item-923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="../service-plus/index.html"><span>Service Plus</span></a></li><li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="../support/index.html"><span>Support</span></a></li><li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="../video-tutorials/index.html"><span>Video Tutorials</span></a></li><li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-158"><a href="#"><span>Gallery</span></a>
            <ul class="sub-menu"><li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="../gallery-grid/index.html"><span>Grid</span></a></li><li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="../gallery-masonry/index.html"><span>Masonry</span></a></li><li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"><a href="../gallery-cobbles/index.html"><span>Cobbles</span></a></li></ul>
        </li></ul>
    </li><li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-322"><a href="index.html"><span>Shop</span></a></li><li id="menu-item-370" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-370"><a href="#"><span>Pages</span></a>
        <ul class="sub-menu"><li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="../our-features/index.html"><span>Our Features</span></a></li><li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="../our-benefits/index.html"><span>Our Benefits</span></a></li></ul>
    </li><li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-162"><a href="#"><span>News</span></a>
        <ul class="sub-menu"><li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li id="menu-item-164" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-164"><a href="#"><span>Classic Style</span></a>
            <ul class="sub-menu"><li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="../blog-classic-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="../blog-classic-3-columns/index.html"><span>3 Columns</span></a></li></ul>
        </li><li id="menu-item-167" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167"><a href="#"><span>Portfolio</span></a>
            <ul class="sub-menu"><li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="../blog-portfolio-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="../blog-portfolio-3-columns/index.html"><span>3 Columns</span></a></li><li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="../blog-portfolio-4-columns/index.html"><span>4 Columns</span></a></li></ul>
        </li><li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171"><a href="#"><span>Chess</span></a>
            <ul class="sub-menu"><li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="../blog-chess-2-columns/index.html"><span>2 Columns</span></a></li><li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="../blog-chess-4-columns/index.html"><span>4 Columns</span></a></li><li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../blog-chess-6-columns/index.html"><span>6 Columns</span></a></li></ul>
        </li></ul>
    </li><li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="../contacts/index.html"><span>Contacts</span></a></li></ul></nav><!-- /.sc_layouts_menu --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="sc_layouts_item"><a href="../index.html" id="sc_layouts_logo_1544060118" class="sc_layouts_logo sc_layouts_logo_default"><img class="logo_image" src="../wp-content/uploads/2017/12/logo-1x-dark.png" alt="" width="129" height="28"></a><!-- /.sc_layouts_logo --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1513768311200"><div class="wpb_wrapper"><div class="sc_layouts_item"><div id="widget_contacts_242848842" class="widget_area sc_widget_contacts vc_widget_contacts wpb_content_element head_phone"><aside id="widget_contacts_242848842_widget" class="widget widget_contacts"><div class="contacts_wrap"><div class="contacts_info"><a href="tel:88002563684" class="contacts_phone">8 800 256 36 84</a></div></div><!-- /.contacts_wrap --></aside></div></div><div class="sc_layouts_item"><div id="sc_layouts_login_888972908" class="sc_layouts_login sc_layouts_menu sc_layouts_menu_default"><ul class="sc_layouts_login_menu sc_layouts_menu_nav sc_layouts_menu_no_collapse"><li class="menu-item"><a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link "><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">Login</span></span></a></li></ul></div><!-- /.sc_layouts_login --></div><div class="sc_layouts_item"><div id="sc_layouts_search_1898902410" class="sc_layouts_search"><div class="search_wrap search_style_fullscreen layouts_search">
        <div class="search_form_wrap">
            <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                <input type="text" class="search_field" placeholder="Search" value="" name="s">
                <button type="submit" class="search_submit trx_addons_icon-search"></button>
                <a class="search_close trx_addons_icon-delete"></a>
            </form>
        </div>
    </div></div><!-- /.sc_layouts_search --></div><div class="sc_layouts_item"><div id="sc_layouts_cart_1442673616" class="sc_layouts_cart">
        <span class="sc_layouts_item_icon sc_layouts_cart_icon trx_addons_icon-basket"></span>
        <span class="sc_layouts_item_details sc_layouts_cart_details">
						<span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
				<span class="sc_layouts_cart_items">0 items</span>
				-
				<span class="sc_layouts_cart_summa">&#36;0.00</span>
			</span>
		</span><!-- /.sc_layouts_cart_details -->
        <span class="sc_layouts_cart_items_short">0</span>
        <div class="sc_layouts_cart_widget widget_area">
            <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
            <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>		</div><!-- /.sc_layouts_cart_widget -->
    </div><!-- /.sc_layouts_cart --></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1516108301727 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1515848359439"><div class="wpb_wrapper"><div class="vc_empty_space  height_small"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="sc_layouts_item"><a href="../index.html" id="sc_layouts_logo_74396692" class="sc_layouts_logo sc_layouts_logo_default"><img class="logo_image" src="../wp-content/uploads/2017/12/logo-1x-dark.png" alt="" width="129" height="28"></a><!-- /.sc_layouts_logo --></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left"><div class="vc_column-inner vc_custom_1517492956445"><div class="wpb_wrapper"><div class="sc_layouts_item"><div id="sc_layouts_search_1203729198" class="sc_layouts_search"><div class="search_wrap search_style_fullscreen layouts_search">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                    <input type="text" class="search_field" placeholder="Search" value="" name="s">
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                    <a class="search_close trx_addons_icon-delete"></a>
                </form>
            </div>
        </div></div><!-- /.sc_layouts_search --></div><div class="sc_layouts_item"><div id="sc_layouts_cart_1486120305" class="sc_layouts_cart">
            <span class="sc_layouts_item_icon sc_layouts_cart_icon trx_addons_icon-basket"></span>
            <span class="sc_layouts_item_details sc_layouts_cart_details">
						<span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
				<span class="sc_layouts_cart_items">0 items</span>
				-
				<span class="sc_layouts_cart_summa">&#36;0.00</span>
			</span>
		</span><!-- /.sc_layouts_cart_details -->
            <span class="sc_layouts_cart_items_short">0</span>
            <div class="sc_layouts_cart_widget widget_area">
                <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel"></span>
                <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>		</div><!-- /.sc_layouts_cart_widget -->
        </div><!-- /.sc_layouts_cart --></div><div class="sc_layouts_item"><div id="sc_layouts_menu_564072426" class="sc_layouts_iconed_text sc_layouts_menu_mobile_button sc_layouts_menu_mobile_button_burger">
            <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
            </a>
        </div></div></div></div></div></div><div class="vc_empty_space  height_small"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
    </div></div></div></div><div class="vc_row wpb_row vc_row-fluid mask_head vc_custom_1516100885193 vc_row-has-fill scheme_dark"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 116px" ><span class="vc_empty_space_inner"></span></div>
        <div class="sc_layouts_item"><div id="sc_layouts_title_238620254" class="sc_layouts_title sc_align_center with_content without_image"><div class="sc_layouts_title_content"><div class="sc_layouts_title_title">							<h1 class="sc_layouts_title_caption">Shop</h1>
        </div><div class="sc_layouts_title_breadcrumbs"><div class="breadcrumbs"><a class="breadcrumbs_item home" href="../index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Shop</span></div></div></div><!-- .sc_layouts_title_content --></div><!-- /.sc_layouts_title --></div><div class="vc_empty_space"   style="height: 116px" ><span class="vc_empty_space_inner"></span></div>
    </div></div></div></div></header><div class="menu_mobile_overlay"></div>
        <div class="menu_mobile menu_mobile_fullscreen scheme_dark">
            <div class="menu_mobile_inner">
                <a class="menu_mobile_close icon-cancel"></a><a class="sc_layouts_logo" href="../index.html"><img src="../wp-content/uploads/2017/12/logo-1x-light.png" alt="" width="129" height="27"></a><nav class="menu_mobile_nav_area"><ul id="menu_mobile_1814680925"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-152"><a href="#"><span>Home</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-408"><a href="../index.html"><span>Home 1</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="../home-2/index.html"><span>Home 2</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="../home-boxed/index.html"><span>Home Boxed</span></a></li></ul>
            </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153"><a href="#"><span>Features</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="../typography/index.html"><span>Typography</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="../shortcodes/index.html"><span>Shortcodes</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="../service-plus/index.html"><span>Service Plus</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="../support/index.html"><span>Support</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="../video-tutorials/index.html"><span>Video Tutorials</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-158"><a href="#"><span>Gallery</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="../gallery-grid/index.html"><span>Grid</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="../gallery-masonry/index.html"><span>Masonry</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"><a href="../gallery-cobbles/index.html"><span>Cobbles</span></a></li></ul>
                </li></ul>
            </li><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-322"><a href="index.html"><span>Shop</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-370"><a href="#"><span>Pages</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="../our-features/index.html"><span>Our Features</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="../our-benefits/index.html"><span>Our Benefits</span></a></li></ul>
            </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-162"><a href="#"><span>News</span></a>
                <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-164"><a href="#"><span>Classic Style</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="../blog-classic-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="../blog-classic-3-columns/index.html"><span>3 Columns</span></a></li></ul>
                </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167"><a href="#"><span>Portfolio</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="../blog-portfolio-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="../blog-portfolio-3-columns/index.html"><span>3 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="../blog-portfolio-4-columns/index.html"><span>4 Columns</span></a></li></ul>
                </li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171"><a href="#"><span>Chess</span></a>
                    <ul class="sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="../blog-chess-2-columns/index.html"><span>2 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="../blog-chess-4-columns/index.html"><span>4 Columns</span></a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../blog-chess-6-columns/index.html"><span>6 Columns</span></a></li></ul>
                </li></ul>
            </li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="../contacts/index.html"><span>Contacts</span></a></li></ul></nav><div class="search_wrap search_style_normal search_mobile">
                <div class="search_form_wrap">
                    <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                        <input type="text" class="search_field" placeholder="Search" value="" name="s">
                        <button type="submit" class="search_submit trx_addons_icon-search"></button>
                    </form>
                </div>
            </div><div class="socials_mobile"><a target="_blank" href="https://twitter.com/ThemeREX_net/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a><a target="_blank" href="https://plus.google.com/+envato/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_gplus"><span class="icon-gplus"></span></span></a><a target="_blank" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_youtube"><span class="icon-youtube"></span></span></a></div>	</div>
        </div>

        <div class="page_content_wrap">

            <div class="content_wrap">



                <div class="content">

                    <div class="list_products shop_mode_thumbs">
                        <div class="list_products_header">
                            <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Shop</nav><header class="woocommerce-products-header">
                            <h1 class="woocommerce-products-header__title page-title">Shop</h1>

                        </header>
                        </div><!-- /.list_products_header -->
                        <div class="coleo_shop_mode_buttons"><form action="http://coleo.themerex.net/shop" method="post"><input type="hidden" name="coleo_shop_mode" value="thumbs" /><a href="#" class="woocommerce_thumbs icon-th" title="Show products as thumbs"></a><a href="#" class="woocommerce_list icon-th-list" title="Show products as list"></a></form></div><!-- /.coleo_shop_mode_buttons -->
                        <p class="woocommerce-result-count">
                            Showing 1&ndash;8 of 12 results</p>
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby">
                                <option value="popularity" >Sort by popularity</option>
                                <option value="date"  selected='selected'>Sort by newness</option>
                                <option value="price" >Sort by price: low to high</option>
                                <option value="price-desc" >Sort by price: high to low</option>
                            </select>
                            <input type="hidden" name="paged" value="1" />
                            <input type="hidden" name="q" value="/shop/" /></form>
                        <ul class="products columns-3">
                            <li class="post-311 product type-product status-publish has-post-thumbnail product_cat-women-collection product_tag-polo  column-1_3 first instock sale featured shipping-taxable purchasable product-type-variable has-default-attributes has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/light-turtleneck/index.html">

                                            <span class="onsale">Sale!</span>
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-12-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/light-turtleneck/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="311"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/light-turtleneck/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/polo/index.html" rel="tag">Polo</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/light-turtleneck/index.html">Light turtleneck</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>23.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>32.00</span></span>
                                            <a href="../product/light-turtleneck/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="311" data-product_sku="" aria-label="Select options for &ldquo;Light turtleneck&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-301 product type-product status-publish has-post-thumbnail product_cat-men-collection product_tag-collection  column-1_3  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/mens-t-shirt/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-11-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/mens-t-shirt/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="301"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/mens-t-shirt/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/collection/index.html" rel="tag">Collection</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/mens-t-shirt/index.html">Men&#8217;s t-shirt</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span></span>
                                            <a href="../product/mens-t-shirt/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="301" data-product_sku="" aria-label="Select options for &ldquo;Men&#039;s t-shirt&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-291 product type-product status-publish has-post-thumbnail product_cat-her-classics product_tag-dress  column-1_3 last instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/midi-dress/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-10-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-10-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/midi-dress/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="291"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/midi-dress/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/dress/index.html" rel="tag">Dress</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/midi-dress/index.html">Midi dress</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>110.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>135.00</span></span>
                                            <a href="../product/midi-dress/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="291" data-product_sku="" aria-label="Select options for &ldquo;Midi dress&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-281 product type-product status-publish has-post-thumbnail product_cat-him-classics product_tag-season  column-1_3 first instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/mens-longsleave/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-9-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-9-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/mens-longsleave/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="281"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/mens-longsleave/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/season/index.html" rel="tag">Season</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/mens-longsleave/index.html">Men&#8217;s longsleave</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>45.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>55.00</span></span>
                                            <a href="../product/mens-longsleave/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="281" data-product_sku="" aria-label="Select options for &ldquo;Men&#039;s longsleave&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-271 product type-product status-publish has-post-thumbnail product_cat-women-collection product_tag-dress  column-1_3  instock shipping-taxable purchasable product-type-variable has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/sundress-newpoint/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-8-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-8-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/sundress-newpoint/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="271"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/sundress-newpoint/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/dress/index.html" rel="tag">Dress</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/sundress-newpoint/index.html">Sundress newpoint</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>85.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>95.00</span></span>
                                            <a href="../product/sundress-newpoint/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="271" data-product_sku="" aria-label="Select options for &ldquo;Sundress newpoint&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-261 product type-product status-publish has-post-thumbnail product_cat-her-classics product_tag-collection  column-1_3 last instock shipping-taxable purchasable product-type-variable has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/womens-sundress/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-7-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-7-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/womens-sundress/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="261"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/womens-sundress/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/collection/index.html" rel="tag">Collection</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/womens-sundress/index.html">Women&#8217;s sundress</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>45.00</span></span>
                                            <a href="../product/womens-sundress/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="261" data-product_sku="" aria-label="Select options for &ldquo;Women&#039;s sundress&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-251 product type-product status-publish has-post-thumbnail product_cat-trending-collection product_tag-sale  column-1_3 first instock shipping-taxable purchasable product-type-variable has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/set-in-sweater/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-6-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-6-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/set-in-sweater/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="251"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/set-in-sweater/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/sale/index.html" rel="tag">Sale</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/set-in-sweater/index.html">Set-in sweater</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>65.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>75.00</span></span>
                                            <a href="../product/set-in-sweater/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="251" data-product_sku="" aria-label="Select options for &ldquo;Set-in sweater&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                            <li class="post-241 product type-product status-publish has-post-thumbnail product_cat-men-collection product_tag-season  column-1_3  instock shipping-taxable purchasable product-type-variable has-children">
                                <div class="post_item post_layout_thumbs">
                                    <div class="post_featured hover_shop">
                                        <a href="../product/v-neck-t-shirt/index.html">
                                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-5-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-5-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a><div class="mask"></div>			<div class="icons">
                                        <a rel="nofollow" href="../product/v-neck-t-shirt/index.html"
                                           aria-hidden="true"
                                           data-quantity="1"
                                           data-product_id="241"
                                           data-product_sku=""
                                           class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable product_in_stock"></a><a href="../product/v-neck-t-shirt/index.html" aria-hidden="true" class="shop_link button icon-link"></a>
                                    </div>
                                    </div><!-- /.post_featured -->
                                    <div class="post_data">
                                        <div class="post_data_inner">
                                            <div class="post_header entry-header">
                                                <div class="post_tags product_tags"><a href="../product-tag/season/index.html" rel="tag">Season</a></div><h2 class="woocommerce-loop-product__title"><a href="../product/v-neck-t-shirt/index.html">V-neck t-shirt</a></h2>			</div><!-- /.post_header -->

                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span></span>
                                            <a href="../product/v-neck-t-shirt/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="241" data-product_sku="" aria-label="Select options for &ldquo;V-neck t-shirt&rdquo;" rel="nofollow">Buy now</a>				</div><!-- /.post_data_inner -->
                                    </div><!-- /.post_data -->
                                </div><!-- /.post_item -->
                            </li>
                        </ul>
                        <nav class="woocommerce-pagination">
                            <ul class='page-numbers'>
                                <li><span aria-current='page' class='page-numbers current'>1</span></li>
                                <li><a class='page-numbers' href='page/2/index.html'>2</a></li>
                                <li><a class="next page-numbers" href="page/2/index.html">&rarr;</a></li>
                            </ul>
                        </nav>
                    </div><!-- /.list_products -->

                </div><!-- </.content> -->

                <div class="sidebar left widget_area" role="complementary">
                    <div class="sidebar_inner">
                        <aside id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter"><form method="get" action="http://coleo.themerex.net/shop/">
                            <div class="price_slider_wrapper">
                                <div class="price_slider" style="display:none;"></div>
                                <div class="price_slider_amount">
                                    <input type="text" id="min_price" name="min_price" value="20" data-min="20" placeholder="Min price" />
                                    <input type="text" id="max_price" name="max_price" value="490" data-max="490" placeholder="Max price" />
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style="display:none;">
                                        Price: <span class="from"></span> &mdash; <span class="to"></span>
                                    </div>
                                    <input type="hidden" name="q" value="/shop/" />
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </form></aside><aside id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories"><h5 class="widget_title">Categories</h5><ul class="product-categories"><li class="cat-item cat-item-38"><a href="../product-category/her-classics/index.html">Her - Classics</a></li>
                        <li class="cat-item cat-item-37"><a href="../product-category/him-classics/index.html">Him - Classics</a></li>
                        <li class="cat-item cat-item-36"><a href="../product-category/hipster-collection/index.html">Hipster Collection</a></li>
                        <li class="cat-item cat-item-34"><a href="../product-category/men-collection/index.html">Men Collection</a></li>
                        <li class="cat-item cat-item-39"><a href="../product-category/trending-collection/index.html">Trending Collection</a></li>
                        <li class="cat-item cat-item-58"><a href="../product-category/uncategorized/index.html">Uncategorized</a></li>
                        <li class="cat-item cat-item-35"><a href="../product-category/winter-accessories/index.html">Winter Accessories</a></li>
                        <li class="cat-item cat-item-33"><a href="../product-category/women-collection/index.html">Women Collection</a></li>
                    </ul></aside><aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search"><h5 class="widget_title">Search</h5>
                        <form role="search" method="get" class="search_form" action="http://coleo.themerex.net/">
                            <input type="text" class="search_field" placeholder="Search for products &hellip;" value="" name="s" /><button class="search_button" type="submit">Search</button>
                            <input type="hidden" name="post_type" value="product" />
                        </form>
                    </aside><aside id="woocommerce_products-3" class="widget woocommerce widget_products"><h5 class="widget_title">Featured Products</h5><ul class="product_list_widget"><li>

                        <a href="../product/light-turtleneck/index.html">
                            <img width="300" height="300" src="../wp-content/uploads/2017/12/product-12-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-12-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" />		<span class="product-title">Light turtleneck</span>
                        </a>

                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>23.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>32.00</span>
                    </li>
                        <li>

                            <a href="../product/mens-t-shirt/index.html">
                                <img width="300" height="300" src="../wp-content/uploads/2017/12/product-11-copyright-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-300x300.jpg 300w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-150x150.jpg 150w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-768x768.jpg 768w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-1024x1024.jpg 1024w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-370x370.jpg 370w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-90x90.jpg 90w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-760x760.jpg 760w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-600x600.jpg 600w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright-100x100.jpg 100w, //coleo.themerex.net/wp-content/uploads/2017/12/product-11-copyright.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" />		<span class="product-title">Men's t-shirt</span>
                            </a>


                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span>
                        </li>
                    </ul></aside><aside id="woocommerce_product_tag_cloud-2" class="widget woocommerce widget_product_tag_cloud"><h5 class="widget_title">Tags</h5><div class="tagcloud"><a href="../product-tag/collection/index.html" class="tag-cloud-link tag-link-51 tag-link-position-1" style="font-size: 22pt;" aria-label="Collection (3 products)">Collection</a>
                        <a href="../product-tag/dress/index.html" class="tag-cloud-link tag-link-47 tag-link-position-2" style="font-size: 16.4pt;" aria-label="Dress (2 products)">Dress</a>
                        <a href="../product-tag/polo/index.html" class="tag-cloud-link tag-link-48 tag-link-position-3" style="font-size: 8pt;" aria-label="Polo (1 product)">Polo</a>
                        <a href="../product-tag/sale/index.html" class="tag-cloud-link tag-link-49 tag-link-position-4" style="font-size: 22pt;" aria-label="Sale (3 products)">Sale</a>
                        <a href="../product-tag/season/index.html" class="tag-cloud-link tag-link-52 tag-link-position-5" style="font-size: 16.4pt;" aria-label="Season (2 products)">Season</a>
                        <a href="../product-tag/shoes/index.html" class="tag-cloud-link tag-link-53 tag-link-position-6" style="font-size: 8pt;" aria-label="Shoes (1 product)">Shoes</a></div></aside>			</div><!-- /.sidebar_inner -->
                </div><!-- /.sidebar -->
            </div><!-- </.content_wrap> -->			</div><!-- </.page_content_wrap> -->

        <footer class="footer_wrap footer_default">
            <div class="footer_widgets_wrap widget_area sc_layouts_row sc_layouts_row_type_normal">
                <div class="footer_widgets_inner widget_area_inner">
                    <div class="content_wrap"><aside id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget"><script type="text/javascript">(function() {
                        if (!window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms    : {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push({
                                            event   : event,
                                            callback: callback
                                        });
                                    }
                                }
                            }
                        }
                    })();
                    </script><!-- MailChimp for WordPress v4.2 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-441" method="post" data-id="441" data-name="" ><div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Newsletter sign up" required /><span class="arrow"><input type="submit" value="Sign up" /></span></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1539971323" /><input type="hidden" name="_mc4wp_form_id" value="441" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></aside></div><!-- /.content_wrap -->			</div><!-- /.footer_widgets_inner -->
            </div><!-- /.footer_widgets_wrap -->
            <div class="footer_menu_wrap">
                <div class="footer_menu_inner">
                    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="menu_footer_nav_area sc_layouts_menu sc_layouts_menu_default"><ul id="menu_footer" class="sc_layouts_menu_nav menu_footer_nav"><li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="../home-boxed/index.html"><span>Home</span></a></li><li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="../our-features/index.html"><span>Features</span></a></li><li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-430"><a href="index.html"><span>Store</span></a></li><li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="../all-posts/index.html"><span>All Posts</span></a></li><li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="../blog-chess-2-columns/index.html"><span>News</span></a></li><li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a href="../contacts/index.html"><span>Contacts</span></a></li></ul></nav>		</div>
            </div>

            <div class="footer_copyright_wrap scheme_">
                <div class="footer_copyright_inner">
                    <div class="content_wrap">
                        <div class="copyright_text">Copyright  2018 by <a href="https://themeforest.net/user/themerex" target="_blank">ThemeREX</a>. All rights reserved.</div>
                    </div>
                </div>
            </div>
            <div class="footer_socials_wrap socials_wrap">
                <div class="footer_socials_inner">
                    <a target="_blank" href="https://twitter.com/ThemeREX_net/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_twitter"><span class="icon-twitter"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a><a target="_blank" href="https://plus.google.com/+envato/" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_gplus"><span class="icon-gplus"></span></span></a><a target="_blank" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" class="social_item social_item_style_icons social_item_type_icons"><span class="social_icon social_icon_youtube"><span class="icon-youtube"></span></span></a>		</div>
            </div>
        </footer><!-- /.footer_wrap -->

    </div><!-- /.page_wrap -->

</div><!-- /.body_wrap -->


<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a><div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
    <ul class="trx_addons_tabs_titles"><li class="trx_addons_tabs_title trx_addons_tabs_title_login">
        <a href="#trx_addons_login_content">
            <i class="trx_addons_icon-lock-open"></i>
            Login			</a>
    </li><li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
        <a href="#trx_addons_register_content">
            <i class="trx_addons_icon-user-plus"></i>
            Register			</a>
    </li></ul>	<div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
    <div>
        <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
            <h5>Regular Customer</h5>
            <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="http://coleo.themerex.net/wp-login.php" method="post" name="trx_addons_login_form">
                <input type="hidden" id="login_redirect_to" name="redirect_to" value="">
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                    <label class="sc_form_field sc_form_field_log sc_form_field_text required"><span class="sc_form_field_wrap"><input type="text"
                                                                                                                                       name="log"
                                                                                                                                       id="log_1860790750"
                                                                                                                                       value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i><span class="sc_form_field_content" data-content="Login">Login</span></span></span></label>					</div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                    <label class="sc_form_field sc_form_field_pwd sc_form_field_password required"><span class="sc_form_field_wrap"><input type="password"
                                                                                                                                           name="pwd"
                                                                                                                                           id="pwd_960441775"
                                                                                                                                           value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i><span class="sc_form_field_content" data-content="Password">Password</span></span></span></label>					</div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                    <a href="../my-account/lost-password/index.html" class="trx_addons_popup_form_field_forgot_password">LOST YOUR PASSWORD?</a>
                    <!--<input type="checkbox" value="forever" id="rememberme" name="rememberme"><label for="rememberme"> Remember me</label>-->
                </div>
                <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                    <input type="submit" class="submit_button" value="Login">
                </div>
                <div class="trx_addons_message_box sc_form_result"></div>
            </form>
        </div>
    </div>
</div></div><script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@graph":[{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/light-turtleneck\/","name":"Light turtleneck","url":"http:\/\/coleo.themerex.net\/product\/light-turtleneck\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/mens-t-shirt\/","name":"Men's t-shirt","url":"http:\/\/coleo.themerex.net\/product\/mens-t-shirt\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/midi-dress\/","name":"Midi dress","url":"http:\/\/coleo.themerex.net\/product\/midi-dress\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/mens-longsleave\/","name":"Men's longsleave","url":"http:\/\/coleo.themerex.net\/product\/mens-longsleave\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/sundress-newpoint\/","name":"Sundress newpoint","url":"http:\/\/coleo.themerex.net\/product\/sundress-newpoint\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/womens-sundress\/","name":"Women's sundress","url":"http:\/\/coleo.themerex.net\/product\/womens-sundress\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/set-in-sweater\/","name":"Set-in sweater","url":"http:\/\/coleo.themerex.net\/product\/set-in-sweater\/"},{"@type":"Product","@id":"http:\/\/coleo.themerex.net\/product\/v-neck-t-shirt\/","name":"V-neck t-shirt","url":"http:\/\/coleo.themerex.net\/product\/v-neck-t-shirt\/"}]}</script><script type="text/javascript">(function() {function addEventListener(element,event,handler) {
    if(element.addEventListener) {
        element.addEventListener(event,handler, false);
    } else if(element.attachEvent){
        element.attachEvent('on'+event,handler);
    }
}function maybePrefixUrlField() {
    if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
        this.value = "http://" + this.value;
    }
}

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if( urlFields && urlFields.length > 0 ) {
        for( var j=0; j < urlFields.length; j++ ) {
            addEventListener(urlFields[j],'blur',maybePrefixUrlField);
        }
    }/* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if( testInput.type !== 'date') {

        /* add placeholder & pattern to all date fields */
        var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
        for(var i=0; i<dateFields.length; i++) {
            if(!dateFields[i].placeholder) {
                dateFields[i].placeholder = 'YYYY-MM-DD';
            }
            if(!dateFields[i].pattern) {
                dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
            }
        }
    }

})();</script><link property="stylesheet" rel='stylesheet' id='js_composer_front-css'  href='../wp-content/plugins/js_composer/assets/css/js_composer.min5243.css?ver=5.4.5' type='text/css' media='all' />
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var TRX_ADDONS_STORAGE = {"ajax_url":"http:\/\/coleo.themerex.net\/wp-admin\/admin-ajax.php","ajax_nonce":"0602f64084","site_url":"http:\/\/coleo.themerex.net","post_id":"311","vc_edit_mode":"0","popup_engine":"magnific","animate_inner_links":"0","menu_collapse":"1","menu_collapse_icon":"icon-ellipsis-vert","user_logged_in":"0","email_mask":"^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$","msg_ajax_error":"Invalid server answer!","msg_magnific_loading":"Loading image","msg_magnific_error":"Error loading image","msg_error_like":"Error saving your like! Please, try again later.","msg_field_name_empty":"The name can't be empty","msg_field_email_empty":"Too short (or empty) email address","msg_field_email_not_valid":"Invalid email address","msg_field_text_empty":"The message text can't be empty","msg_search_error":"Search error! Try again later.","msg_send_complete":"Send message complete!","msg_send_error":"Transmit failed!","ajax_views":"","menu_cache":[".menu_mobile_inner > nav > ul"],"login_via_ajax":"1","msg_login_empty":"The Login field can't be empty","msg_login_long":"The Login field is too long","msg_password_empty":"The password can't be empty and shorter then 4 characters","msg_password_long":"The password is too long","msg_login_success":"Login success! The page should be reloaded in 3 sec.","msg_login_error":"Login failed!","msg_not_agree":"Please, read and check 'Terms and Conditions'","msg_email_long":"E-mail address is too long","msg_email_not_valid":"E-mail address is invalid","msg_password_not_equal":"The passwords in both fields are not equal","msg_registration_success":"Registration success! Please log in!","msg_registration_error":"Registration failed!","scroll_to_anchor":"0","update_location_from_anchor":"0","msg_sc_googlemap_not_avail":"Googlemap service is not available","msg_sc_googlemap_geocoder_error":"Error while geocode address"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/js/trx_addons.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/coleo.themerex.net\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min7984.js?ver=3.3.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_553d66eb9063e393df09308891b12639","fragment_name":"wc_fragments_553d66eb9063e393df09308891b12639"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart5243.js?ver=5.4.5'></script>
<script type='text/javascript' src='../wp-content/plugins/trx_addons/components/cpt/layouts/shortcodes/menu/superfish.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var COLEO_STORAGE = {"ajax_url":"http:\/\/coleo.themerex.net\/wp-admin\/admin-ajax.php","ajax_nonce":"0602f64084","site_url":"http:\/\/coleo.themerex.net","theme_url":"http:\/\/coleo.themerex.net\/wp-content\/themes\/coleo","site_scheme":"scheme_default","user_logged_in":"","mobile_layout_width":"767","mobile_device":"","menu_side_stretch":"","menu_side_icons":"1","background_video":"","use_mediaelements":"1","comment_maxlength":"1000","admin_mode":"","email_mask":"^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$","strings":{"ajax_error":"Invalid server answer!","error_global":"Error data validation!","name_empty":"The name can&#039;t be empty","name_long":"Too long name","email_empty":"Too short (or empty) email address","email_long":"Too long email address","email_not_valid":"Invalid email address","text_empty":"The message text can&#039;t be empty","text_long":"Too long message text"},"alter_link_color":"#f4f4f4","button_hover":"default","stretch_tabs_area":"0"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/themes/coleo/js/__scripts.js'></script>
<script type='text/javascript'>
    var mejsL10n = {"language":"en","strings":{"mejs.install-flash":"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/","mejs.fullscreen-off":"Turn off Fullscreen","mejs.fullscreen-on":"Go Fullscreen","mejs.download-video":"Download Video","mejs.fullscreen":"Fullscreen","mejs.time-jump-forward":["Jump forward 1 second","Jump forward %1 seconds"],"mejs.loop":"Toggle Loop","mejs.play":"Play","mejs.pause":"Pause","mejs.close":"Close","mejs.time-slider":"Time Slider","mejs.time-help-text":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.","mejs.time-skip-back":["Skip back 1 second","Skip back %1 seconds"],"mejs.captions-subtitles":"Captions\/Subtitles","mejs.captions-chapters":"Chapters","mejs.none":"None","mejs.mute-toggle":"Mute Toggle","mejs.volume-help-text":"Use Up\/Down Arrow keys to increase or decrease volume.","mejs.unmute":"Unmute","mejs.mute":"Mute","mejs.volume-slider":"Volume Slider","mejs.video-player":"Video Player","mejs.audio-player":"Audio Player","mejs.ad-skip":"Skip ad","mejs.ad-skip-info":["Skip in 1 second","Skip in %1 seconds"],"mejs.source-chooser":"Source Chooser","mejs.stop":"Stop","mejs.speed-rate":"Speed Rate","mejs.live-broadcast":"Live Broadcast","mejs.afrikaans":"Afrikaans","mejs.albanian":"Albanian","mejs.arabic":"Arabic","mejs.belarusian":"Belarusian","mejs.bulgarian":"Bulgarian","mejs.catalan":"Catalan","mejs.chinese":"Chinese","mejs.chinese-simplified":"Chinese (Simplified)","mejs.chinese-traditional":"Chinese (Traditional)","mejs.croatian":"Croatian","mejs.czech":"Czech","mejs.danish":"Danish","mejs.dutch":"Dutch","mejs.english":"English","mejs.estonian":"Estonian","mejs.filipino":"Filipino","mejs.finnish":"Finnish","mejs.french":"French","mejs.galician":"Galician","mejs.german":"German","mejs.greek":"Greek","mejs.haitian-creole":"Haitian Creole","mejs.hebrew":"Hebrew","mejs.hindi":"Hindi","mejs.hungarian":"Hungarian","mejs.icelandic":"Icelandic","mejs.indonesian":"Indonesian","mejs.irish":"Irish","mejs.italian":"Italian","mejs.japanese":"Japanese","mejs.korean":"Korean","mejs.latvian":"Latvian","mejs.lithuanian":"Lithuanian","mejs.macedonian":"Macedonian","mejs.malay":"Malay","mejs.maltese":"Maltese","mejs.norwegian":"Norwegian","mejs.persian":"Persian","mejs.polish":"Polish","mejs.portuguese":"Portuguese","mejs.romanian":"Romanian","mejs.russian":"Russian","mejs.serbian":"Serbian","mejs.slovak":"Slovak","mejs.slovenian":"Slovenian","mejs.spanish":"Spanish","mejs.swahili":"Swahili","mejs.swedish":"Swedish","mejs.tagalog":"Tagalog","mejs.thai":"Thai","mejs.turkish":"Turkish","mejs.ukrainian":"Ukrainian","mejs.vietnamese":"Vietnamese","mejs.welsh":"Welsh","mejs.yiddish":"Yiddish"}};
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-and-player.min45a0.js?ver=4.2.6-78496d1'></script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-migrate.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/wp-mediaelement.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='../wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min5243.js?ver=5.4.5'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/slider.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/accounting/accounting.minaffb.js?ver=0.4.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_price_slider_params = {"currency_format_num_decimals":"0","currency_format_symbol":"$","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%s%v"};
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/price-slider.min7984.js?ver=3.3.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/effect.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/effect-fade.mine899.js?ver=1.11.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.minbc19.js?ver=4.2'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='http://coleo.themerex.net/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2'></script>
<![endif]-->
