body {
  outline: none !important;
  overflow-x: hidden !important;
  overflow-x: hidden !important; }
  body::-webkit-scrollbar {
    width: 4px;
    border-radius: 3px; }
  body::-webkit-scrollbar-track {
    background: #fff; }
  body::-webkit-scrollbar-thumb {
    background: #76cfb9;
    border-radius: 3px; }
  body::-webkit-scrollbar-thumb:hover {
    background: #76cfb9; }
  body a {
    text-decoration: none !important; }

::selection {
  color: #fff !important;
  background: #a54c81 !important; }

.wpb_wrapper > .image > a > img {
  max-height: 270px !important; }

.product-image img.min-height-set, .product-page-product {
  height: 300px !important;
  border-radius: 5px; }

.errors {
  list-style-type: none;
  padding-left: 0; }

/*-- banner-top --*/
.banner_top {
  margin-bottom: 100px; }

.banner-top {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  overflow-x: hidden;
  min-height: 90vh;
  clear: both; }

.banner-info-wthree {
  text-align: center;
  padding: 13em 0em 0 0em; }
  .banner-info-wthree h1 {
    color: white;
    font-family: 'Courier New', Courier;
    font-size: 4em;
    text-transform: none; }
    @media (max-width: 425px) {
      .banner-info-wthree h1 {
        font-size: 2em; } }
  .banner-info-wthree p {
    color: white;
    font-family: "Courier New", Courier;
    font-style: italic;
    padding-top: 2%; }

.banner-info-wthree h3 {
  font-size: 13em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #76cfb9; }

.banner-info-wthree p {
  font-size: 1.2em;
  color: #fff;
  margin: 0em 0;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: none; }

/*-- //banner-top --*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto; }

.rslides_tabs li:first-child {
  margin-left: 0; }

.rslides_tabs .rslides_here a {
  background: #76cfb9;
  color: #fff;
  font-weight: bold; }

.events {
  list-style: none; }

.callbacks_container {
  position: relative;
  float: left;
  width: 100%; }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.callbacks li {
  position: absolute;
  width: 100%; }

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0; }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center; }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: #76cfb9;
  top: 50%;
  left: 40px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 34px;
  width: 34px;
  background: url(../images/left.png) no-repeat 0px 0px; }

.callbacks_nav.next {
  left: auto;
  background: url(../images/right.png) no-repeat 0px 0px;
  right: 0; }

.callbacks_nav.prev {
  left: auto;
  background: url(../images/left.png) no-repeat 0px 0px;
  left: 0px; }

#slider3-pager a {
  display: inline-block; }

#slider3-pager span {
  float: left; }

#slider3-pager span {
  width: 100px;
  height: 15px;
  background: #fff;
  display: inline-block;
  border-radius: 30em;
  opacity: 0.6; }

#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius: 30em;
  opacity: 1; }

#slider3-pager a {
  padding: 0; }

#slider3-pager li {
  display: inline-block; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li {
  position: relative;
  display: inline-block;
  float: left; }

.rslides img {
  height: auto;
  border: 0; }

.callbacks_tabs {
  list-style: none;
  position: absolute;
  bottom: 8%;
  right: 10%;
  padding: 0;
  margin: 0;
  display: block;
  z-index: 99; }

.slider-top span {
  font-weight: 600; }

.callbacks_tabs li {
  display: inline-block;
  margin: 0px 3px; }

/*----*/
.callbacks_tabs a {
  visibility: hidden; }

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 2px solid #fff; }

.callbacks_here a:after {
  background: #76cfb9; }

.admin-border {
  border: 2px solid #76cfb9 !important;
  border-radius: 3px;
  width: 100% !important; }

button.woocommerce-Button.button {
  color: white !important; }
  button.woocommerce-Button.button:hover {
    color: whitesmoke !important; }

.grid-product {
  width: 90% !important;
  margin-bottom: 20px; }

.show-more {
  height: 40px !important; }

.error-body {
  text-align: center;
  width: 70%;
  height: 100vh;
  margin: auto;
  padding-top: 25%; }
  .error-body h1 {
    color: #76cfb9; }

/*-- //slider --*/
input[name="pImages"] {
  border: none !important;
  color: white;
  width: 50px !important; }
  input[name="pImages"]::before {
    height: 38px;
    width: auto !important;
    background: #76cfb9;
    content: 'Click to select file';
    font-weight: bold;
    margin-left: -10px !important;
    box-shadow: 0 3px 15px grey;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    transition: 0.2s all ease-in-out; }
  input[name="pImages"]::after {
    color: red !important;
    position: relative;
    right: 0 !important; }

input[name="pImages"]:hover::before {
  background: #a5d8cb;
  transition: 0.2s all ease-in-out; }

.tgm-dash-links a {
  white-space: nowrap; }

button.close {
  color: #76cfb9; }

.individualProduct, .product-list-single {
  transition: 0.3s all ease-in-out; }
  .individualProduct:hover, .product-list-single:hover {
    color: #a54c81 !important;
    transition: 0.3s all ease-in-out; }

.main-container.front-page {
  overflow-x: hidden !important;
  width: 100% !important; }

@media only screen and (max-width: 425px) {
  .recent_products {
    position: relative;
    left: 5%; } }

/*# sourceMappingURL=style.css.map */
