@mixin background-image($imageUrl) {
    background-image:url($imageUrl);
    background:{
        size:cover;
        repeat: no-repeat;
    }
}
section{
    @include background-image('/images/about-video-gym-img.jpg')
}