::selection{
    background: #ffffff;
    color:$navBackground
}
::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: $navBackground;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: $navBackground;
}
body{
    margin:0;
    overflow-x: hidden;
    a{
        text-decoration: none;
    }
    nav{
        height:70px;
        width:100%;
        background:$navBackground;
        position: fixed;
        z-index: 999;
        .container{
            max-width: 1300px;
            .logo{
                width:20%;
                margin:0;
                span{
                    font:{
                        family:$fontFamily;
                        weight:bolder;
                        size:20px;
                    }
                    text-transform: uppercase;
                    margin: 25px 30px;
                    position: relative;
                    top:22px;
                    a{
                        color:#ffffff;
                    }
                }
            }
            ul{
                list-style-type: none;
                float: right;
                width:80%;
                display: flex;
                flex-direction: row-reverse;
                align-content: flex-end !important;
                flex-wrap: wrap;
                margin:0;
                li{
                    margin:0 10px;
                    padding-bottom:5px;
                    transition: 0.3s all ease-in-out;
                    a{
                        color:#fff;
                        font:{
                            family:$fontFamily;
                            size:16px;
                        }
                    }
                    &.active{
                        border-bottom:5px solid #ffffff;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;                        
                        a{
                            font-weight: bold;
                        }
                    }
                }
                @media (max-width:767px) {
                    display: none;
                }
            }
        }
    }
}